[2016-06-08 21:12] ll911 opened #1 "next steps"
- voted features.

[2017-01-05 17:18] BK01 opened #2 "Swagger UI code update - Code snippet copy"
**Skills / SW**:
- Swagger UI

**Description**:
Upgrade the Swagger UI code to include a new function to be displayed as a button or link next to query request / response windows.

-  Copy code snippet to clipboard (request and / or response)

**Deliverables**:
- Updated Swagger UI code enabling the functionality above

[2017-01-05 17:21] BK01 opened #3 "Swagger UI code update - open in browser"
**Skills / SW**:
- Swagger UI

**Description**:
Upgrade the Swagger UI code to include a new function to be displayed as a button or link next to query request / response windows.

*Show response body in a new brownser window

-  Open code in browser

**Deliverables**:
- Updated Swagger UI code enabling the functionality above

[2017-01-05 17:45] BK01 opened #4 "Swagger UI -API Keys"
**Skills / SW**:
- Swagger UI, OpenAPI spec (swagger 2.0)

**Description**:

Customize Swagger UI to add a textbox to allow the user to paste in their api key to reproduce behaviour shown in existing API Key console (examples below).

Route Planner
http://apps.gov.bc.ca/pub/api-explorer/?url=https://raw.githubusercontent.com/bcgov/api-specs/master/router/router.json

Gated Geocoder
http://apps.gov

[2017-01-05 17:47] BK01 opened #5 "SSL certificate upload tool"
**Skills / SW**:
- Security, proxy
- DataBC API Gateway

**Description**:
Additional domains can be used for API owners who wish to use this implementation of Kong but maintain their existing domain. In order to achieve this, the client must complete two steps. First, provide the SSL certificate to the DataBC API Gateway. Secondly, they must manage their own DNS which can be repointed.

Currently

[2017-01-05 17:49] BK01 opened #6 "Heartbeat code"
Additional heartbeat pages for APIs including:
- BCGNWS
- BCDC Data API
- etc

QA and improve existing Javascript

Build a heartbeat page for Kong itself

[2017-01-05 22:08] BK01 opened #7 "OpenAPI Console - BCGNWS"
**Skills / SW**:
- json, Swagger 2.0, Swagger Editor

**Description**:
- Create an OpenAPI spec for BCGNWS (Swagger 2.0)
- api spec to have tag sections expanded by default shown as 'list operations' (same as [Geocoder](http://apps.gov.bc.ca/pub/api-explorer/?url=https://raw.githubusercontent.com/bcgov/api-specs/master/geocoder/geocoder.json))
- Include a brief description (1-2 sentences) below th

[2017-01-05 22:42] BK01 opened #8 "Technical investigation"
Investigate the feasibility and propose design solution to meet business requirement of using Galileo (or Elk/Silk) as a service. Fred would like to send a log file to Galileo and receive analytics without routing the MyGov API through Kong.

[2017-01-05 22:50] BK01 opened #9 "Script - Time series (Geocoder - PUB)"
**Skills / SW**:
- Scripting approach TBD, csv
- DataBC API Gateway (Kong/Cassandra)
***Methodology will need to be determined in collaboration with DataBC middleware team**

**Description**:
Currently we use Elk to record stats for several APIs (contact LL or BK for URL).

Based on the average 50GB of storage used by logs per month, Elk is used for real-time observations only as well as analytics

[2017-01-05 22:52] BK01 opened #10 "Architecture Diagram - Deliverables"
**Skills / SW**:
- Visio or similar.

**Description**:
Provide an architecture diagram for delivered CKAN product

**Deliverables**:
- An architectural drawing in PDF as well as original software file format.

[2017-01-05 22:55] BK01 opened #11 "Test analytics dashboard (Galileo)"
**Skills / SW**:
- Galileo (DataBC implementation)

**Description**:
Test the local implementation of Galileo (analytics SW). Test experience as a simulated ‘API owner’ and 'developer'

**Deliverables**:
- Complete testing

[2017-01-05 22:57] BK01 opened #12 "Software comparison (light weight)"
A light weight comparison of Galileo, Vanilla Elk, and Silk specific to:
a.	Feature list
b.	Hosting requirements
c.	Configuration for apache/nginx/tomcat access/error logs

[2017-01-05 22:59] #1 closed

[2017-01-05 22:59] BK01 commented on #1
old

[2017-01-05 23:02] BK01 opened #13 "add Swagger UI console as an extension for API resource preview"
CKAN extension for OpenAPI console

- Continue under direction of BCDC team using existing GitHub issue board.
https://github.com/bcgov/ckanext-bcgov/issues/96

[2017-01-05 23:04] BK01 opened #14 "Prepare JS for a Leaflet based selection map that can report the area of the map to the DOM"
Finish leaflet work in BCDC data selection tool

- Continue under direction of BCDC team using existing GitHub issue board
https://github.com/bcgov/ckanext-bcgov/issues/222

[2017-01-05 23:05] BK01 opened #15 "DWDS OFI API Investigation"
Continue with assistance of OFI API investigation in collaboration with BCDC team.

[2017-01-05 23:22] BK01 opened #16 "OpenAPI Console - DWDS OFI"
# **_On hold:_**
- due to security protocol / access policy
- pending DWDS app owner approval

**Skills / SW**:
- yaml, json, Swagger 2.0, Swagger Editor

**Description**:
- Create an OpenAPI spec for DWDS OFI API (Swagger 2.0)
- api spec to have tag sections expanded by default shown as 'list operations' (same as [Geocoder](http://apps.gov.bc.ca/pub/api-explorer/?url=https://raw.githubusercontent

[2017-01-05 23:25] BK01 opened #17 "Architecture Diagram - DBC API Gateway"
**Skills / SW**:
- Visio or similar.

**Description**:
Create an overall architecture diagram showing each component of DataBC API Management (Kong, Cassandra, CKAN, Swagger-ui, API mgmt interface (with swagger editor), GitHub etc.)

Include a small text reference to the CKAN component as a stand-alone extension.

**Deliverables**:
- An architectural drawing in PDF as well as original software fil

[2017-01-05 23:27] BK01 opened #18 "Build an analytics tool with Silk"
Build a basic analytics tool with Silk (Solr, logstash, Banana) to provide the following for the Gated Geocoder and BC Route Planner.

Per time period:

[2017-01-05 23:28] BK01 opened #19 "Elk - Build an analytics dashboard"
Build a basic analytics tool with Elk (Elasticsearch, logstash, Kibana) to provide the following for the Gated Geocoder and BC Route Planner.

Per time period:

[2017-01-05 23:32] BK01 opened #20 "Technical Investigation: GA & Elk"
Assessment of capabilities of Google Analytics vs. Elk to help answer the question, could GA be replaced by Elk?

[2017-01-05 23:36] BK01 opened #21 "Script - BCDC Data Store Downloads"
**Skills / SW**:
- Scripting approach TBD (Python, SQL?), csv
- BCDC
***Methodology will need to be determined in collaboration with BCDC team**

**Description**:
Develop a script to show total downloads per data object in the BCDC data store and save results to a CSV file. Provide script to DataBC to be run as a scheduled job and committed back to the respective BCDC record.

**Deliverables**:
-

[2017-01-06 17:19] BK01 opened #22 "Open api json resource"
Finish open api json resource work

- Continue under direction of BCDC team using existing GitHub issue board
https://github.com/bcgov/ckanext-bcgov/issues/264

[2017-01-06 17:23] BK01 opened #23 "Create a CKAN extension to show Swagger UI for Web Service datasets"
https://github.com/bcgov/ckanext-bcgov/issues/209

[2017-01-06 17:25] #23 closed

[2017-01-06 17:25] #15 closed

[2017-01-06 17:51] BK01 opened #24 "Heartbeat - Geomark"
**Skills / SW**:
- Python, JavaScript (d3 library), HTML, CSS
- GitHub

**Description**:
Create a heartbeat page for Geomark as described below.

       -   Request: "http://apps.gov.bc.ca/pub/geomark/geomarks/gm-abcdefghijklmnopqrstuv0bcislands.json?srid=4326"
       -   Output format: JSON
       -   Parameters (from response header) to save to textfile (beyond date and time)

[2017-01-06 19:09] BK01 opened #25 "Heartbeat - BCDC Data API"
**Skills / SW**:
- Python, JavaScript (d3 library), HTML, CSS
- GitHub, BCDC

**Description**:
To investigate if it is possible to create a heartbeat page for the following. If possible, build one for each.

**Deliverables**:
- updates to existing scripts as required in the following repo: https://github.com/bcgov/dbcrss

https://catalogue.data.gov.bc.ca/api/3/action/package_search?fq=license_id:2

[2017-01-06 19:29] BK01 opened #26 "Additional BCDC/CKAN work"
See BCDC Team board / discuss with BCDC team lead

[2017-01-06 19:57] BK01 opened #27 "Galileo - Develop an analytics dashboard (DataBC collaboration)"
**Skills / SW**:
- Galileo

**Description**:
Using the new DataBC implementation of Galileo, collaborate to build an analytics dashboard for the BC Physical Address Geocoder, or the BC Route Planner (both if time permits).

**Deliverables**:
- An analytics dashboard for one DataBC API

[2017-01-06 20:08] BK01 opened #28 "Galileo Docker image - On-prem implementation"
**Skills / SW**:
- Docker, Galileo
*If Amazon becomes an option for BC Gov't, Mashape offers an option for this.

**Team**:
DataBC middleware, Mashape dev team, dev community

**Client**:
WBC is looking for analytics on their new API as of April 2017 which will use the DataBC API Gateway.

**Description**:
Complete the final steps in Galileo install locally using Mashape docker image.

Debugging -

[2017-01-06 20:34] BK01 commented on #16
The inclusion of total downloads (all time & per time period) per data object are not currently available in OFI’s API but are included as an idea for the future. That said, the information is already in tables, but in its current state you would need to write SQL to access the numbers.

Are there any options to create analytics to show views or download requests exclusive to BCDC API?

[2017-01-06 20:34] BK01 commented on #28
Any news from Mashape or online post?

[2017-01-10 21:38] BK01 commented on #13
UAT held on January 10, 2017 in BCDC - cat with successful results. Description text no longer cut-off.

[2017-01-10 21:39] BK01 commented on #7
Version 1 provided to DataBC on January 9, 2017 for review.

[2017-01-10 21:46] ll911 commented on #28
get a new version from mashape, testing WIP

[2017-01-10 22:20] BK01 opened #29 "A) Enhance swagger-ui for mixed content"
Enhance the swagger-ui code to enable handling of mixed content. This will provide DataBC with a single interface for both embedded public and secure API consoles (with authorization window).

Fix issue on DataBC implementation of Swagger UI specific to new OpenAPI Console CKAN extension. If resolved, commit back to community

https://github.com/swagger-api/swagger-ui/issues/1670

[2017-01-10 22:26] BK01 opened #30 "Swagger UI - text cut off"
Custom change to OpenAPI extension (font size or column adjustment, style change) to resolve description text from being cut off. See cat.gov.bc.ca

[2017-01-10 22:28] BK01 commented on #30
Is it possible to take over whole page, or must we stay within iFrame of template?

[2017-01-10 22:47] BK01 commented on #9
Use REST API for Elk

[2017-01-10 22:54] BK01 commented on #5
Handle in GWA

[2017-01-11 16:50] BK01 commented on #21
Functionality now exists in BCDC in "/data/site-usage" following account login.

[2017-01-12 01:04] BK01 commented on #9
Jenkins job created, access granted to BK01 and branders

[2017-01-13 02:08] banders commented on #30
I believe that the cut-off description occurs because of some very long content in the _geocoder api_ descriptions that cannot wrap, so they expand the width of the table.  This also causes two columns of the table to be pushed off the screen.

Specifically, the problematic description in the geocoder spec is the following:

The coordinates of the bbox string get treated as a single word that does

[2017-01-13 17:01] BK01 commented on #30
I agree. Please proceed with a modification to your fork of the swagger UI css. For the time being, DataBC can also update the geocoder api spec located in the api-specs repository.

I'm not sure why BCDC cad is pointing to a different repo for the JSON file? Unless there is a reason for this I suggest we have both cad and cat for BCDC point to the /bcgov/api-specs location.

[2017-01-13 17:19] BK01 commented on #30
I have forked the api-spec (authored by MR) and submitted a pull request. As soon as its accepted we can re-test.

https://github.com/bcgov/api-specs/pull/125

[2017-01-13 18:00] BK01 commented on #7
branders PR accepted, merge complete

[2017-01-13 18:00] BK01 commented on #30
A new geocoder.json file has been merged in the master with coordinates adjusted as suggested above.

[2017-01-13 19:14] banders commented on #30
I have created a patch for swagger-ui so it better handles long words in parameter descriptions (and other content that cannot wrap).  My pull request to have the patch introduced back into the master repo is [here](https://github.com/swagger-api/swagger-ui/pull/2609).

I have not modified any of DataBC's internal tools that utilize swagger-ui (such as the CKAN openapi console extension, or the BC

[2017-01-17 19:15] BK01 commented on #29
Work around - force all api-specs to https

[2017-01-17 19:47] BK01 commented on #7
Update BCGNWS api-spec to include HTTP 400 response code.

[2017-01-20 19:09] BK01 commented on #4
Interim strategy - public consoles use new OpenAPI console (CKAN), Keyed consoles use existing console.

[2017-01-20 19:12] BK01 commented on #29
test geocoder (anonymous) now set to https.

[2017-01-21 01:10] banders commented on #4
I just [committed](https://github.com/bcgov/ckanext-openapiviewer/commit/5ff4dba67466c221f280175d8ab9154156181360) a new version of ckanext-openapiviewer which upgrades to the latest version of swagger-ui (2.2.8) and adds the 'authorize' button to the OpenAPI Console resource view (visible for secure APIs only).  The 'authorize' button provides a means to specify an API key that will be sent along

[2017-01-31 19:34] BK01 commented on #7
Console spec - change scheme to https

[2017-02-02 17:26] BK01 commented on #29
Until this issue is resolved only API's using the DataBC Gateway can successfully display functional API consoles in BCDC. Once resolved we can restore others that wish to use BCDC's API consoles but not necessarily route through the DataBC API Gateway.

[2017-02-03 22:31] BK01 opened #31 "OpenAPI specs - Summary attribute"
**Skills / SW**:
- OpenAPI spec (swagger 2.0)

**Description**:

- Fork OpenAPI specs located at the following repo.
   https://github.com/bcgov/api-specs
- Add a 'summary' attribute for each resource
- Initially only complete for the BCGNWS OpenAPI spec to be followed by DataBC review and feedback

**Deliverables**:

- Pull request submitted for a new version of the BCGNWS OpenAPI spec (include s

[2017-02-03 22:37] BK01 commented on #30
@banders Can this fix be integrated into our new fork of the core Swagger UI code?

[2017-02-03 22:38] BK01 commented on #29
@ll911 @banders To be addressed by a custom version of Swagger UI originating from a new fork of the core Swagger UI code.

[2017-02-03 23:09] banders commented on #29
By the way, the swagger-ui community has been working on a solution which would choose the scheme (http or https) using the following logic:

1. If the browser's scheme is in the schemes listed in the swagger file, use the browser's scheme
2. Otherwise, use the first scheme listed in the swagger file

... that seems like a reasonable fix that would satisfy us.

The community has made some progress

[2017-02-03 23:42] BK01 opened #32 "OpenAPI specs - Open links in new tab"
**Skills / SW**:
- OpenAPI spec (swagger 2.0)

**Description**:

- Fork OpenAPI specs located at the following repo.
   https://github.com/bcgov/api-specs
- Edit hyperlinks to open in a new tab. Currently the links below result in an error (scroll bar expands continuously) instead of opening the link in a new tab.

OpenAPI specs impacted:

Geomark:
Links: see more at
          open gov license

BC

[2017-02-03 23:42] BK01 commented on #32
@ll911 @banders Browser used for OpenAPI console UAT - Chrome

[2017-02-04 00:31] BK01 commented on #13
Migrated to production as part of BCDC v1.6 release.

[2017-02-04 00:33] BK01 commented on #7
Published (version 1) to production as part of BCDC v1.6 release on Tuesday, January, 31st. HTTP 400 response code api spec work still to be completed.

[2017-02-04 00:33] BK01 commented on #22
Included in BCDC v1.6 migrated to PROD on Tuesday, January 31st.

[2017-02-06 18:21] banders commented on #32
@BK01 I don't think this problem can be solved just by modifying the API spec files -- it requires a change to swagger-ui.

There is an existing [issue](https://github.com/swagger-api/swagger-ui/issues/1446) in the swagger-ui project, but it doesn't look like there's been any work on it yet.

[2017-02-06 18:27] banders commented on #31
I have added the summary attributes to each resource of the BCGNWS API spec.  The pull request has been merged into the bcgov repo, and the updated spec file is [here](https://github.com/bcgov/api-specs/blob/master/bcgnws/bcgnws.json).

Let me know if you'd like me to add "summary" attributes to the other API spec files.

[2017-02-06 18:42] BK01 commented on #31
@banders @ll911 Thank you. We will merge the new BCGNWS API spec, review/QA and let you know about additional API specs.

[2017-02-06 19:53] BK01 commented on #31
Tests were successful.

Currently the BCGNWS, Geomark, Open511 and BC Laws API specs have included the summary attribute.

Please proceed to add the summary attribute to the API specs of the geocoder, gated-geocoder, BCDC API and BC Route Planner.

[2017-02-08 00:35] banders commented on #31
I added 'summary' to geocoder, gated-geocoder, BCDC and router.  Pull request is [here](https://github.com/bcgov/api-specs/pull/143).

[2017-02-09 17:14] banders commented on #29
We discussed this week that we'll leave this issue for the swagger-ui community to solve for now.  They seem to be making progress.  If there's no progress, we may re-evaluate that approach in the future.

[2017-02-09 17:16] banders commented on #31
The above-noted pull request has been [merged](https://github.com/bcgov/api-specs/pull/143#event-953104003) into the api-specs master branch.  Let me know if any problems arise when the API specs are viewed in swagger-ui.

[2017-02-09 18:06] BK01 commented on #28
Openshift install scheduled for Feb 14th. Testing to follow.

[2017-02-09 18:10] BK01 opened #33 "Updated modal window for authorization"
**Skills / SW**:
- Swagger-ui

**Description**:

- Adjust the position of the swagger-ui modal window for authorization.
   (The modal window should appear closer to the top of the screen)

**Deliverables**:

- Updated swagger UI code

[2017-02-09 18:14] BK01 opened #34 "HTML rendering"
**Skills / SW**:
- Swagger-ui

**Description**:

- Add support for HTML rendering in swagger-ui response descriptions
    To be done in a fork of swagger-ui, and will not be contributed back to the community (security issue)

**Deliverables**:

- Updated swagger UI code

[2017-02-09 18:16] BK01 opened #35 "Contact the Developer"
**Skills / SW**:
- Swagger-ui

**Description**:

- Rename swagger-ui's "Contact the Developer" link
    This fix should be contributed back to the community

**Deliverables**:
- Updated swagger UI code

[2017-02-09 21:22] banders commented on #34
I forked swagger-ui and created a [branch](https://github.com/banders/swagger-ui/tree/support-html-rendering) to address this issue.  The branch re-introduces support for HTML markup in response descriptions.

Note 1: we prefer HTML Markup over markdown for links because HTML markup allows us to open links in new tabs (using target="blank" in an anchor tag), whereas markdown does not.

Note 2: The

[2017-02-10 01:36] banders commented on #35
I fixed this issue in a new [branch ](https://github.com/banders/swagger-ui/tree/rename-contact-link) within my fork of swagger-ui.  As part of the fix, I improved the presentation of the entire "Info" section that is rendered between the API title and the list of operations.

I have not yet created a pull request to have the change merged back into core swagger-ui.  I will do that next week.

I h

[2017-02-10 01:56] banders commented on #32
I have updated swagger-ui to use target=blank for all links displayed in the "Info" section (between the API title and the list of operations).

I have made a custom build of swagger-ui which incorporates this change, and I have embedded the custom build into ckanext-openapiviewer.  The pull request is [here](https://github.com/bcgov/ckanext-openapiviewer/pulls).

[2017-02-10 19:51] BK01 opened #36 "BCGNWS - 400 response"
**Skills / SW**:
- json, Swagger 2.0

**Description**:
- Update BCGNWS OpenAPI spec to include HTTP 400 response code.
- Links: [BCGNWS original OpenAPI spec issue](https://github.com/bcgov/DBC-APIM/issues/7)
             [BCGNWS OpenAPI spec](https://raw.githubusercontent.com/bcgov/api-specs/master/bcgnws/bcgnws.json)

Optional:
A. Examples section (see email) for each endpoint

**Deliverables**:

[2017-02-14 16:44] banders commented on #36
HTTP error code 400 and 404 responses have been added to the BCGNWS spec.  Merged pull request is [here](https://github.com/bcgov/api-specs/pull/139).

[2017-02-14 19:17] ll911 opened #37 "code review for ckanext-openapiviewer/issues/20"
https://github.com/bcgov/ckanext-openapiviewer/issues/20

[2017-02-16 21:59] BK01 commented on #35
New contact information appears correct during UAT of cad.data...

Presented as (geocoder):

**Contact Information**
Contact Name: DataBC
Email: DataBCBA@gov.bc.ca
Website: https://forms.gov.bc.ca/databc-contact-us/

[2017-02-16 22:00] BK01 commented on #32
Successful UAT complete using geocoder console in cad.data...

[2017-02-16 22:09] BK01 commented on #34
@ll911 @banders UAT in cad.data was mainly successful. Example includes the links shown in the description section of the OpenAPI console. Specific to the geocoder console, the outputFormat link works, however, most others do not. I suspect the JSON file needs to be updated to use the correct HTML syntax.

[2017-02-16 22:14] BK01 commented on #30
@ll911 @banders UAT successful in cad.data

[2017-02-18 00:48] banders commented on #30
Created an [issue](https://github.com/swagger-api/swagger-ui/issues/2676) for this in the swagger-ui repo.  The issue has a link to the pull request for my patch.

[2017-02-18 00:49] banders commented on #35
Created a new [issue](https://github.com/swagger-api/swagger-ui/issues/2673) for this in the core swagger-ui repo.  The issue has a link the the pull request with my patch.

[2017-02-19 19:37] banders commented on #37
I have looked through the code review results for swagger-ui. None of the "bugs" appear to be actual problems. 34 of 35 "bugs" are supposedly due to invalid values for "font-family" in css. Unfortunately the code review doesn't seem to tell us specifically where in the file the error occurs (perhaps because the file is minified), so I have looked at all occurrences of "font-family" and all the val

[2017-02-20 17:53] banders commented on #33
I have created a patch to move the auth modal window nearer to the top of the page.  The patch is in [this branch](https://github.com/banders/swagger-ui/tree/auth_modal_position).  I have merged the branch into a custom build of swagger-ui for ckanext-openapiviewer.  My pull request for ckanext-openapiviewer is [here](https://github.com/bcgov/ckanext-openapiviewer/pull/21).

[2017-02-20 19:49] banders commented on #4
I have created a [branch](https://github.com/banders/swagger-ui/tree/request-api-key-link) in my fork of swagger-ui which adds a new button "Request Key".  Currently the button just links to a DataBC Contact Us page, but in the future it can be tied to the API key service.

I have merged the new branch into a custom build of swagger-ui for ckanext-openapiviewer.  The Pull request for ckanext-opena

[2017-02-21 19:16] BK01 commented on #34
@banders Apply patch used for outputFormat for remainder of description hyperlinks

[2017-02-21 19:23] BK01 commented on #33
@BK01 to test in CAD following merged pull request from @banders

[2017-02-21 19:24] BK01 commented on #4
@BK01 to test in CAD following merged pull request from @banders

[2017-02-24 18:59] banders commented on #34
I have extended swagger-ui to support the 'target' attribute in `<a href>` elements.  The patch has been committed to [this branch](https://github.com/banders/swagger-ui/tree/support-html-rendering).

[2017-02-24 21:02] banders commented on #2
I have created a patch that adds 'Copy Request URL' and 'Copy Response Body' buttons.  The buttons copy the corresponding content to the clipboard.  The patch is in [this branch](https://github.com/banders/swagger-ui/tree/copy-to-clipboard).

[2017-02-24 22:22] banders commented on #2
I incorporated the patch into a custom build of swagger-ui for ckanext-openapiviewer.  Pull request is [here](https://github.com/bcgov/ckanext-openapiviewer/pull/22).

[2017-02-24 22:22] banders commented on #34
I incorporated the patch into a custom build of swagger-ui for ckanext-openapiviewer.  Pull request is [here](https://github.com/bcgov/ckanext-openapiviewer/pull/22).

[2017-02-28 21:28] BK01 commented on #2
@BK01 to review this week

[2017-02-28 21:29] BK01 commented on #34
@BK01 to review this week

[2017-02-28 21:29] BK01 commented on #4
@BK01 to review this week

[2017-02-28 21:29] BK01 commented on #33
@BK01 to review this week

[2017-02-28 21:29] BK01 commented on #35
@BK01 to review this week

[2017-02-28 21:30] BK01 commented on #32
@BK01 to review this week

[2017-02-28 21:30] BK01 commented on #30
@BK01 to review this week

[2017-02-28 21:32] BK01 commented on #35
UAT complete in cat.data...
Ready for PROD.

[2017-02-28 21:35] BK01 commented on #34
UAT complete in cat.data...
Ready for PROD.

[2017-02-28 21:36] BK01 commented on #30
UAT complete in cat.data...
Ready for PROD.

[2017-02-28 21:37] BK01 commented on #32
UAT complete in cat.data...
Ready for PROD.

[2017-02-28 21:39] BK01 commented on #2
UAT complete in cat.data...
Ready for PROD.

[2017-02-28 21:43] BK01 commented on #33
UAT complete in cat.data...
Ready for PROD.

[2017-02-28 21:44] BK01 commented on #4
UAT complete in cat.data...
Ready for PROD.

[2017-02-28 22:00] #10 closed

[2017-03-02 17:23] BK01 opened #38 "API Gateway Stats - CSV output"
***key requirement - Scripted / scheduled CSV export**
*Elastic 6.1

Investigate and describe a proposed solution to query the following metrics from Kong/Cassandra for each API using the DataBC API Gateway and record to a csv file in GOGS.

Run scripts overnight.

- Gated Geocoder
- Route Planner
- WorkBC jobposting API

If time permits, additional metrics can be added.

Challenge:

[2017-03-03 01:01] banders commented on #30
The swagger-ui community has [merged my pull request](https://github.com/swagger-api/swagger-ui/pull/2677) into the core.

[2017-03-03 19:24] BK01 commented on #29
@ll911 @banders Shall we re-initiate work on this item to complete prior to March 31st?

[2017-03-06 23:20] BK01 commented on #17
Version 1 submitted for review by DataBC

[2017-03-06 23:30] banders commented on #3
I created a custom modification to swagger UI to address this issue in this [branch](https://github.com/banders/swagger-ui/tree/copy-to-clipboard).  The modification adds a new "Open Request URL" button adjacent to the "Copy to Clipboard" button.

I made a generated a new build of swagger-ui which include this change and all other customizations for DataBC, and I included the new swagger-ui in the

[2017-03-06 23:51] BK01 commented on #3
DataBC to perform UAT once merged.

[2017-03-07 21:35] BK01 opened #39 "Script - Time Series (WBC - PUB)"
Skills, description and deliverables - Same as [Issue #9](https://github.com/bcgov/DBC-APIM/issues/9) with one difference --> Apply to the WBC API (DataBC to provide details / endpoints).

[2017-03-08 00:47] BK01 commented on #3
UAT successful in cad.data and cat.data. Please proceed to PROD.

[2017-03-09 00:23] BK01 commented on #28
Technical issue continuing. Will place on hold until approval received for cloud deployment.

[2017-03-09 00:24] BK01 commented on #39
If issue #9 is successful, email DataBC to acquire API endpoint.

[2017-03-09 00:27] BK01 commented on #17
DataBC to review latest diagram and provide feedback to branders by Tues, Mar 14

[2017-03-09 16:52] #14 closed

[2017-03-09 16:52] #36 closed

[2017-03-09 16:53] #7 closed

[2017-03-09 16:53] #13 closed

[2017-03-09 16:53] #22 closed

[2017-03-09 16:53] #31 closed

[2017-03-09 16:53] #37 closed

[2017-03-14 16:40] BK01 commented on #3
Ready to migrate to PROD.

[2017-03-14 16:41] BK01 commented on #35
Ready to migrate to PROD.

[2017-03-14 16:41] BK01 commented on #34
Ready to migrate to PROD.

[2017-03-14 16:42] BK01 commented on #30
Ready to migrate to PROD.

[2017-03-14 16:42] BK01 commented on #32
Ready to migrate to PROD.

[2017-03-14 16:42] BK01 commented on #33
Ready to migrate to PROD.

[2017-03-14 16:43] BK01 commented on #4
Ready to migrate to PROD.

[2017-03-14 16:43] BK01 commented on #2
Ready to migrate to PROD.

[2017-03-14 18:11] BK01 commented on #9
DataBC to try running against PROD stats. Script currently using TEST. Env passed to script as arg from Jenkins job.

[2017-03-14 18:13] BK01 commented on #39
Setup separate or second execute in same Jenkins job to hit the WorkBC jobs API.

DataBC to integrate into test plan for #9

[2017-03-14 18:26] BK01 commented on #39
Will not work with #9 script. Need kong to turn on access logs and send to file location. New script needed for parse log files.

[2017-03-14 18:30] BK01 commented on #39
ll911 to re-configure logs. Then BK01 to log manually from dashboard.

[2017-03-14 18:46] #5 closed

[2017-03-14 18:55] BK01 opened #40 "Heartbeat - Chart Sorting"
**Skills / SW**:
- JavaScript, HTML

**Background**:
https://github.com/bcgov/dbcrss/blob/master/heartbeat/README.md

**Description**:

- Current JavaScript files for reference:
https://github.com/bcgov/dbcrss/tree/master/heartbeat/src/d3

- Same JavaScript files, but used with heartbeat pages
https://github.com/bcgov/dbcrss/tree/gh-pages/heartbeat

**Potential references**:
https://github.com/d3/

[2017-03-14 19:05] BK01 commented on #17
New version to be committed in GOGS including new GWA label and formatted as XML as well as SVG.

[2017-03-14 20:39] BK01 opened #41 "CKAN update"
Adjust frame space to allow Swagger-ui to use more screen real estate (width of page)

[2017-03-14 20:51] BK01 opened #42 "Heartbeat - Scale - Y-axis"
**Skills / SW**:
- JavaScript, HTML

**Background**:
https://github.com/bcgov/dbcrss/blob/master/heartbeat/README.md

**Description**:

- Current JavaScript files for reference:
https://github.com/bcgov/dbcrss/tree/master/heartbeat/src/d3

- Same JavaScript files, but used with heartbeat pages
https://github.com/bcgov/dbcrss/tree/gh-pages/heartbeat

**Potential references**:
https://d3js.org/
http

[2017-03-14 20:59] BK01 opened #43 "Heartbeat - Code cleanup and duplicates"
**Skills / SW**:
- JavaScript, HTML

**Background**:
https://github.com/bcgov/dbcrss/blob/master/heartbeat/README.md

**Description**:

- Current JavaScript files for reference:
https://github.com/bcgov/dbcrss/tree/master/heartbeat/src/d3

- Same JavaScript (and HTML) files, but used with heartbeat pages
https://github.com/bcgov/dbcrss/tree/gh-pages/heartbeat

[2017-03-14 21:03] BK01 opened #44 "Heartbeat - Python parameters"
**Skills / SW**:
- Python

**Background**:
https://github.com/bcgov/dbcrss/blob/master/heartbeat/README.md

**Description**:

- Current JavaScript files for reference:
https://github.com/bcgov/dbcrss/tree/master/heartbeat/src/d3

- Same JavaScript files, but used with heartbeat pages
https://github.com/bcgov/dbcrss/tree/gh-pages/heartbeat

**Potential references**:
https://github.com/d3/d3/wiki/Ti

[2017-03-14 22:21] BK01 commented on #29
Leave work-around in place. Secure spec needs, upload to BCDC. Public use GitHub.

[2017-03-14 22:35] BK01 opened #45 "B) Enhance modal window (BCDC -> GWA)"
Enhance the DataBC implementation of swagger-ui (in BCDC) to connect to GWA for authorization

Once GWA service in place, fork extension and enable DBC-APIM to communicate with GWA (developer key request).

[2017-03-20 22:16] banders commented on #40
I forked this repo and [committed ](https://github.com/banders/dbcrss/commit/35fa1e8f4cd718e3d7f03f7ee1a24fa2b4401f67)a patch to change the chart order (newest to oldest).  Pull request is [here](https://github.com/bcgov/dbcrss/pull/2).

[2017-03-20 22:24] banders commented on #43
I forked the repo and [committed ](https://github.com/banders/dbcrss/commit/35fa1e8f4cd718e3d7f03f7ee1a24fa2b4401f67) a patch which reduces the amount of redundancy in the js files.  The pull request is [here](https://github.com/bcgov/dbcrss/pull/2).

[2017-03-21 18:08] BK01 commented on #43
To separate

[2017-03-21 18:10] BK01 commented on #43
Add new folder to Master branch called 'data'. Separates data from source code.

[2017-03-21 18:26] BK01 commented on #44
DataBC to provide demo key.

[2017-03-21 18:56] banders commented on #43
@BK01 @ll911 I think we should also separate heartbeat.py from the text files, otherwise we'll get conflicts when we try to merge pull requests related to heartbeat.py changes.

I suggest we reporganize the repo into these branches:

- heartbeat-data (new branch for heartbeat text files only)
- scripts (new branch for python script)
- gh-pages (existing branch to contain the js, css and html files

[2017-03-21 20:13] BK01 opened #46 "Script - Time series (Gated Geo & Router)"
Update the scheduled job and python script to generate the time series stats delivered in #9 to also include the gated-geocoder and the route planner.

[2017-03-22 18:20] #35 closed

[2017-03-22 18:20] #33 closed

[2017-03-22 18:21] #34 closed

[2017-03-22 18:21] #4 closed

[2017-03-22 18:22] #3 closed

[2017-03-22 18:22] #30 closed

[2017-03-22 18:23] #2 closed

[2017-03-22 18:23] #32 closed

[2017-03-22 18:24] #9 closed

[2017-03-22 19:57] banders commented on #40
Revised pull request [here](https://github.com/bcgov/dbcrss/pull/3) has been merged.  Chart sorting is complete and ready for review.

[2017-03-22 20:00] banders commented on #43
I removed redundant js code and reorganized the gh-pages and master branches.  gh-pages now has the only copy of the HTML, JS and CSS code.  master now contains the heartbeat pythons script and the data files generated by that script.

The relevant pull requests ([here](https://github.com/bcgov/dbcrss/pull/3) and [here](https://github.com/bcgov/dbcrss/pull/4)) have already been merged.

[2017-03-22 21:33] banders commented on #44
I have modified the python script to accept two parameters:

-url <URL TO TEST>
-o <OUTPUT FILENAME>

The script can now be used to test the heartbeat of arbitrary URLs.  Pull request is [here](https://github.com/bcgov/dbcrss/pull/5).

Note: the Jenkins job that calls Heartbeat.py must be modified to call the script one time for each API being tested.  Each call must be made with appropriate param

[2017-03-28 18:30] BK01 commented on #46
To investigate location of logs.

[2017-03-28 18:35] BK01 opened #47 "Heartbeat - Status check"
Enable python script to check if web services are online that don't necessarily have the execution time listed in response.

Perform this for Geomark and BCGNWS.

Output: textfile as well as JS, HTML visual chart.

This issue covers issues #24 and issue #6

[2017-03-28 18:50] #40 closed

[2017-03-28 18:51] #43 closed

[2017-03-28 18:52] #44 closed

[2017-03-28 18:56] BK01 commented on #42
No solution identified at this time that would improve the existing chart style.

[2017-03-29 19:00] banders commented on #47
I have modified the Heartbeat.py script to support APIs that:

- don't return execution time
- don't return JSON
- don't return kong latency headers

Also improved error handling.

Pull request is [here](https://github.com/bcgov/dbcrss/pull/6).

[2017-03-29 21:00] banders commented on #47
I have also modified the 'gh-pages' branch to include heartbeat graphs for BCGNWS and Geomark.

Pull request is [here](https://github.com/bcgov/dbcrss/pull/8).

[2017-03-31 17:57] BK01 commented on #24
Complete: http://bcgov.github.io/dbcrss/heartbeat/geomark/

[2017-03-31 17:58] BK01 commented on #6
Complete: http://bcgov.github.io/dbcrss/heartbeat/bcgnws/

[2017-03-31 17:59] #24 closed

[2017-03-31 17:59] #47 closed

[2017-03-31 18:05] BK01 commented on #16
DWDS OFI API console in development under another project

[2017-03-31 18:06] #21 closed

[2017-03-31 18:06] #26 closed

[2017-05-15 20:45] #17 closed

[2017-05-15 20:53] BK01 opened #48 "Upgrade API Console Viewer"
Upgrade the swagger-ui version which is embedded in CKAN API Console.  The API Console currently uses swagger-ui version is 2.x but should be upgraded to 3.x.

As part of the upgrade, also attempt to address usability issues arising from swagger-ui being enclosed within a BCDC iframe.  Display of swagger-ui within an iframe is problematic because:

- the iframe is currently a fixed height and widt

[2017-05-15 20:55] BK01 opened #49 "2) Upgrade: OpenAPI specs"
Upgrade OpenAPI specifications to version 3.x

[2017-06-14 16:02] banders commented on #48
I have updated the API Console to use swagger-ui 3.  An example is available [here](https://cad.data.gov.bc.ca/dataset/geocoder/resource/8f0b70e1-5a9f-45d7-b44e-8ae5637e8cef).

What you see in the example is a completely stock version of swagger-ui 3, although I have made a small change to how it is embedded in the CKAN plugin so that the iframe now stretches vertically to fit the swagger-ui conte

[2017-06-14 16:14] ll911 commented on #48
@banders thx brock, the ui issue still related to the fixed iframe, feedback from users that too much white spaces on both side. any idea on custom jinja2 template to modify for the extension?

[2017-06-14 18:37] banders commented on #48
@ll911 I will loook into making the template wider...

[2017-06-15 17:29] banders commented on #48
@ll911 @BK01 The template for resource views is nested within other templates.  The maximum width of a resource view is dictated by HTML and CSS from at least one of the outer templates.  The relevant outer template is used by most (all?) of the pages within BCBC.  So we can widen the maximum width available for the API Console resource view, but that would essentially widen the central content ar

[2017-06-19 18:28] ll911 commented on #48
@banders ideally, it would be great not have the iframe, without change existing package view can check if following feasible,
1, https://github.com/ckan/ckanext-pages is this approach not limited in the iframe?
2, place [api console like this](https://catalogue.data.gov.bc.ca/dataset/physical-address-geocoding-web-service/resource/40d6411e-ab98-4df9-a24e-67f81c45f6fa/view/1d3c42fc-53dc-4aab-ae3b-

[2017-06-19 22:33] banders commented on #45
@ll911 I see that GWA requires users to login before they can generate keys.

When we integrate GWA with swagger-ui, which of these two apps should be responsible for sending the user's credentials?

Does the GWA REST API provide any options for users to obtain access without interacting with the user interface?  For example does it allow token-based access (i.e. user exchanges login info for a to

[2017-06-19 22:36] ll911 commented on #45
@banders when user click the button, they need to click on agree the terms before key created, hence the oauth2 challenge, can you include the ui in a modal window and close it when terms accepted?

[2017-06-19 23:18] banders commented on #45
If I understand correctly, we won't be using  the build-in swagger-ui "Authorize" functionality for this.  Instead, we'll add a new "Get API key" button in swagger-ui, we'll give it the following behaviour:

1. Make GWA REST API call to get a key.  The purpose here is just to test if the user is already logged in.  If the response is not HTTP 200 we know the user isn't authenticated yet.

2. If no

[2017-06-19 23:28] ll911 commented on #45
almost, in step 2, can you chain the event in modal window once "accept term" checked auto close the modal window and pass the authentication header e.g "apikey: XXXXXXXX" or "token: XXXXXXXX" to the API console (step 3),

[2017-06-20 00:07] banders commented on #45
@ll911 I don't quite see how we can autoclose the modal window when some conditions within the GWA UI are met... does GWA provide some mechanism to support this?

[2017-06-26 18:51] banders commented on #45
@ll911 Is it possible to enable CORS on the GWA REST API?

[2017-06-27 16:55] ll911 commented on #45
Added.

From: banders <notifications@github.com>
Reply-To: bcgov/DBC-APIM <reply@reply.github.com>
Date: Monday, June 26, 2017 at 11:51 AM
To: bcgov/DBC-APIM <DBC-APIM@noreply.github.com>
Cc: "Lou, Leo JTST:EX" <Leo.Lou@gov.bc.ca>, Mention <mention@noreply.github.com>
Subject: Re: [bcgov/DBC-APIM] B) Enhance modal window (BCDC -> GWA) (#45)

@ll911<https://github.com/ll911> Is it possible to enabl

[2017-06-27 21:57] banders commented on #48
I have created a new button "Open in new tab" on the resource view.  While the resource view within BCDC is still limited by the width of the page template, users now have the option to view a full-page version in a new tab.

Note: the "Open in new tab" button affects all resource views, not just the API Console.  So, for example, json, geojson, plaintext and PDF resources will now also have the "

[2017-06-27 21:59] banders commented on #48
The discussion in this issue is also relevant to [issue 41](https://github.com/bcgov/DBC-APIM/issues/41).  This issue has come to encapsulate issue 41.

[2017-06-27 22:13] BK01 commented on #49
Waiting for support from Swaggerui 3 for OpenAPI 3

[2017-06-27 22:20] BK01 commented on #48
@BK01 Swaggerui 3 vs. 2 review/qa + feedback

[2017-06-27 22:23] BK01 opened #50 "OpenAPI spec - model"
See bottom of console

http://petstore.swagger.io/

[2017-07-04 23:16] banders commented on #48
@ll911 @BK01 The "Open in new tab" button is intended to be a work around to the problem of improving the presentation of swagger-ui within the BCDC application.  Ideally we will be able to re-skin swagger-ui with a look & feel that is more suitable for the limited screen real estate within the BCDC application template.

Although swagger-ui 3 was apparently designed to be extensible, there don't

[2017-07-05 00:28] banders commented on #42
Rather than prescribing that we need to merge the data sets onto a chart with a single Y axis, perhaps it is better to consider the underlying requirement: We want a graphical display that will allow a system admin to assess the following "at a glance"

1. Is the app operating normally **or** is there an outage **or** is response time poor?
2. If response time is poor, is it due to network latency

[2017-07-11 20:59] BK01 commented on #48
dataproxy issue resolved

[2017-07-11 22:48] BK01 commented on #42
@BK01 to research email alert services for Heartbeat. If value = 0, then email alert to DataBC contact. Pass email account to script as parameter from Jnks.

update: already in place for DataBC middleware using Jenkins/Nagios.

[2017-07-11 22:54] BK01 commented on #45
Initial comments:
- Is it possible to use a modal window instead of a pop-up window. User testing revealed issue with pop-up blockers.
- Can modal window appear centred following a click to 'Get API key' button, de-activate background while on (or place over the try it out button), then user is forced to click the 'X' in the modal window. Consequently, no floating or duplicate api key windows.
- T

[2017-07-11 22:58] BK01 commented on #45
Thoughts on modal window. Perhaps the modal window is to be used once a developer has already visited GWA, read the terms and confirmed access to the API via GWA. The terms should only be read / checked once as the the terms apply to all API keys, rather than each API. The modal window is only then used to acquire their existing key while in BCDC. Perhaps a link directly to the GWA instructions (o

[2017-07-11 22:59] BK01 commented on #48
@BK01 to investigate presence and default viewing of 'text' tab in API console. Present in DLV, not in PROD. Likely a BCDC configuration issue.

[2017-07-11 23:02] BK01 commented on #42
@banders to proceed with proposal for one Heartbeat graph (any is fine). Following review by team, may also be implemented to other graphs (geocoder and route planner)

[2017-07-11 23:04] BK01 commented on #48
The 'result content type' drop down list appears to update the Curl, but not the request URL. Furthermore, the list of formats appears to be listed differently from the 'OutputFormat' drop down list shown for the Geocoder.

[2017-07-11 23:06] BK01 commented on #45
@BK01 Workflow review (LL + BK), with 2+ use cases, first, repeat.

[2017-07-12 16:39] banders commented on #45
@BK01 @ll911 If we aim to display the GWA login + UI within a same-page modal window (rather than a pop-up window) then I think we would need to do so within an iframe (inside the modal window).  The github login screen that GWA uses has an HTTP header "X-Frame-Options" with a value of "deny".  This header tells browsers not to allow the github page to be displayed in an iframe.  I think this migh

[2017-07-17 22:09] banders commented on #42
@BK01 @ll911 I have updated the heartbeat graphs as outlined above (mostly).

- [public geocoder](http://bcgov.github.io/dbcrss/heartbeat/geocoder_pub_latency/)
- [gated geocoder](http://bcgov.github.io/dbcrss/heartbeat/geocoder_sec_latency/)
- [router](http://bcgov.github.io/dbcrss/heartbeat/router_latency/)

All graphs have been updated because they share common code.

I have also added some new

[2017-07-18 19:55] banders commented on #48
@BK01 The "Content Type" drop-down list that appears in the "Responses" section is created by swagger-ui to match the "Produces" section of API spec.  The OpenAPI 3 specification says the "Produces" section must be "A list of MIME types the operation can produce."

The issue here is that swagger-ui makes some assumptions about the "Produces" list:

- Swagger-ui assumes that API uses the "Accept" H

[2017-07-18 21:04] banders commented on #45
@BK01 @ll911 I just wanted to document here a plan that was discussed by phone today.  Leo will try to apply some gateway magic to remove the github login screen's HTTP header "X-Frame-Options" from within the GWA auth process.  Note, it is best to remove the header instead of changing its value.

[2017-07-18 21:12] BK01 commented on #42
New graphs look great. Next step, update style reference for other charts (such as /geocoder_pub/).

[2017-07-18 21:14] BK01 commented on #48
@banders to remove content type drop down list from our fork of swagger-ui, and create an issue for review by the community.

[2017-07-18 23:12] banders commented on #42
@BK01 @ll911 I fixed the style reference for the other charts.  The lines are now blue again.

For example: [/geocoder_pub](http://bcgov.github.io/dbcrss/heartbeat/geocoder_pub/)

[2017-07-25 21:49] #42 closed

[2017-07-25 23:09] banders commented on #48
I created a new [issue](https://github.com/swagger-api/swagger-ui/issues/3463) for the swagger-ui community describing the problem with the response "Content Type" drop-down list.

[2017-07-26 23:21] BK01 commented on #39
Investigate scripting by extracting from a csv log. Will require login / auth or Jenkins.

[2017-07-26 23:22] BK01 commented on #38
May be possible using same csv file as issue #39

[2017-07-26 23:23] BK01 commented on #25
Create a new heartbeat for each of the following.
https://catalogue.data.gov.bc.ca/api/3/action/package_search?fq=license_id:22
https://catalogue.data.gov.bc.ca/api/3/action/package_show?id=2da43b9a-0795-42f1-b403-6f1a68f7b99a

[2017-07-27 15:46] BK01 commented on #45
@banders to investigate if it is possible to create a custom message when a developer has a failed attempt to get a key. The first may be due to the fact that their account has not been added to the respective API group by the API owner. If this is the case, present a message directing the developer to email the contact as listed in the swagger definition.

[2017-07-27 15:47] BK01 commented on #48
@BK01 to repeat UAT when next delivery is received.

[2017-07-27 16:38] banders commented on #25
@BK01 To clarify: are you requesting the heartbeat script just pings each of the above URLs and graphs the response time?  Or are you also interested in confirming any details about the response content?

I'm curious: for the other APIs we don't test multiple resources.  Why are we testing two resources from the BCDC API?

[2017-07-27 16:46] BK01 commented on #25
@banders In this case we are simply looking for a graph of response time. Both URLs are included as examples however, only one is needed. Perhaps use the package_search resource.

[2017-07-27 16:49] banders commented on #25
@BK01 Thanks for the clarification.  I'll create a heartbeat and graph for the BCDC API.

[2017-07-27 17:10] banders commented on #25
@BK01 @ll911 can one of you please modify the Jenkins job to run the heartbeat python script against the BCDC URL?  A python statement like this should work:

`python heartbeat.py -url "https://catalogue.data.gov.bc.ca/api/3/action/package_search?fq=license_id:22" -o ../data/bcdc-heartbeat.txt`

It will save the response to the heartbeat data file in the /data folder.

The command above assumes th

[2017-07-27 21:23] BK01 commented on #25
@banders Thanks. DataBC will update the heartbeat Jenkins job.

[2017-07-27 22:52] banders commented on #25
@BK01 I added the new graph, and created a link to it from the README in the dbcrss repo:

[https://github.com/bcgov/dbcrss/](https://github.com/bcgov/dbcrss/)

[2017-07-27 23:11] BK01 commented on #25
Thank you. UAT complete.

[2017-07-28 18:19] banders commented on #45
@BK01 @ll911 We have a working version of GWA in a modal window, but we're not quite finished with the custom message in response to the GWA 403 error.  I currently expect that part will be finished over the weekend, and I'll be able to deliver on Monday August 31.

[2017-08-02 15:50] #25 closed

[2017-08-02 21:43] BK01 commented on #49
OpenAPI 3.0 has now been released -> https://swagger.io/announcing-openapi-3-0/
To discuss Aug 15th

[2017-08-02 21:44] BK01 commented on #45
Is it possible to remove the horizontal scroll bar from the modal window?

[2017-08-02 22:32] banders commented on #45
@BK01 GWA's "Developer API Key" panel stretches horizontally when opened in a small window (or iframe).  That results in horizontal scroll bars.  We can't use css within swagger-ui to hide the iframe's scroll bars, but there are other options to eliminate the scroll bars.  When showing GWA in a swagger-ui modal, we could make the modal window wide enough to avoid the horizontal scroll bars, but th

[2017-08-02 22:57] BK01 commented on #45
@banders Thanks. We will look into a modification to GWA to eliminate the scroll bar.

[2017-08-09 15:39] BK01 commented on #38
No longer possible as Kong/Cassandra log no longer includes virtual host in addition to an issue with parser.

[2017-08-09 15:41] BK01 commented on #39
No longer possible as Kong/Cassandra log no longer includes virtual host in addition to an issue with parser.

[2017-08-16 21:12] BK01 commented on #45
New version of GWA received, to be migrated to TEST (reduced width), and re-tested.

[2017-08-16 21:40] BK01 commented on #49
Waiting for swagger-ui to be upgraded to support OpenAPI specs 3.x (expected soon)

[2017-08-18 18:33] BK01 commented on #45
GWA migrated to TEST, modal window re-tested in cad.data successfully. Both horizontal and vertical scroll bars removed.

[2017-08-18 18:36] BK01 commented on #45
API key / credential tests to be repeated once all components are pointing to same / parallel environment.

[2017-08-18 18:39] BK01 opened #51 "Galileo agent (java) for BCGNWS"
Potential item for the future pending discussion with API owner and platform approval post September.

[2017-08-18 18:40] #28 closed

[2017-08-18 18:45] BK01 opened #52 "UAT"
Once GWA and latest DBC-APIM code has been migrated to PROD conduct UAT with our DBC-APIM dev team, BC Gov't API owners and developers.

Feedback to be reviewed and refinements / bugs / enhancements to be added to this board as issues.

Target start date: August 25th, 2017

Tests:
1. Gateway administrator app
2. API owner app (DataBC API owners for Geocoder and Route Planner)
3. Developer app (any

[2017-08-18 18:47] BK01 opened #53 "Guidance Materials"
Once new GWA and DBC-APIM code has been migrated to PROD, QA the following guidance materials.

Fork and modify as requried.

API owners – GOGS:
https://gogs.data.gov.bc.ca/DataBC/gwa/wiki/API+Owner+Guide

Developers - GitHub
https://github.com/bcgov/gwa/wiki/Developer-Guide

Metadata (already exists in draft state):
"API Gateway Administration (GWA)"

[2017-08-22 20:34] BK01 commented on #49
swagger-ui now supports OAS 3.0. However, we need to wait for the 'Try It Out' functionality to be implemented for OAS 3.0

[2017-08-22 20:36] BK01 commented on #48
Next Step: Migrate GWA to PROD, then update the API console to point to GWA in PROD

[2017-08-24 22:55] BK01 commented on #53
QA complete, v1's ready for publication.

[2017-08-25 16:32] BK01 commented on #48
@banders GWA has now been migrated to PROD. Next steps - point API console to GWA PROD.

BCDC 1.6.6 will also need to be migrated to PROD, although the BCDC 1.6.6 migration will need to wait until after the wildfire state of emergency is over.

[2017-09-08 15:05] ghost commented on #29
Is there any update on this issue.  My research tells my it existed in prior versions of Swagger UI, and it was reintroduced in the 3.x version.  I just tested with 3.1.7 and received the mixed content error if both http and https are specified as schemes.  It appears to always default to the first scheme rather than default to the same scheme used to load the UI.

[2017-09-08 22:34] BK01 commented on #48
Note: The latest API console is in cat.data and pointing to GWA in PROD

[2017-09-12 22:14] BK01 opened #54 "CKAN extension - Galileo Agent (python)"
Estimate: CKAN extension to use python Galileo agent.

Send call to Galileo, list of apps, select an app, display reports.

DataBC create Galileo endpoint, token stored as config item in extension. Extension feeds BCDC logs into Galileo.

No visual component in extension, as it relies on Galileo. Could serve as a google analytics replacement if needed in future.

Docs:
Galileo Agent Spec: https://

[2017-09-12 22:40] BK01 opened #55 "Try Example button"
Write a custom extension for swagger-ui to add a 'Try a Sample' button to the API console.

The extension will submit a request to the respective API using the example provided in the OpenAPI spec.

Next Step:

[2017-09-12 22:42] BK01 commented on #49
Try it Out functionality now available. Initiating work.

[2017-09-12 22:50] BK01 commented on #50
To be completed after existing OpenAPI specs are upgraded, along with swagger-ui.

[2017-09-12 23:04] #53 closed, assigned to BK01

[2017-09-13 16:12] BK01 opened #56 "OpenAPI spec - Gated Geocoder"
Update the gated Geocoder spec to match the public geocoder spec at the following location.

https://github.com/bcgov/api-specs/tree/master/geocoder/

Exceptions include the api key (not used in public) as well as the host. Otherwise, parameters, resources and examples should be the same.

[2017-09-13 22:02] banders commented on #49
@ll911 @BK01 I have updated the version of swagger-ui used by the API Console. The new swagger-ui now supports OpenAPI 3. Leo has deployed it to BCDC in delivery.

I have also converted most of the specification files to OpenAPI 3 (all except the two geocoder files).  Currently the changes are in [this branch](https://github.com/banders/api-specs/tree/upgrade-to-openapi3) within my fork of the api

[2017-09-13 23:12] BK01 commented on #49
Thank you Brock. DataBC will begin testing the API console with new specs in delivery.

[2017-09-15 21:40] BK01 opened #57 "Upgrade swagger-editor"
1. Upgrade the swagger editor to the latest release to ensure compatibility with the new OpenAPI 3.x specs.
2. Change the default sample. Investigate adding an init parameter to index.html (spec={})

We first need to first upgrade swagger-ui and complete UAT before updating swagger editor.

[2017-09-15 21:42] #48 closed

[2017-09-15 21:42] #45 closed

[2017-09-15 21:43] BK01 opened #58 "API console refinements"
Refinements based on initial UAT of API Console in cad.data using OpenAPI 3.x specs

[2017-09-15 21:46] BK01 opened #59 "OpenAPI specs - Server"
For the Geocoder OpenAPI spec investigate ability to use the server parameter to specify the environment.

servers:- [
{
url: "https://apps...."
},
{
url: "https://test..."
},
{
url: "http://delivery...."
}
],

[2017-09-15 21:49] BK01 opened #60 "Swagger editor UI"
Change the header colour and font of the swagger editor to match the following.

https://bcgov.github.io/mygovbc-bootstrap-theme/docs/index.html

[2017-09-15 22:23] BK01 commented on #29
@tsieberg At this point, we are still using a workaround. We are hosting public specs in GitHub and secure in our own data catalogue with an embedded swagger-ui  api console. In terms of schemes listed in the api spec was are listing https first, followed by http.

We still have this issue in the backlog but were hoping that the community was making progress. If not, we may re-initiate work in the

[2017-09-15 22:58] BK01 commented on #58
Issue on hold until a new release of swagger-ui is available. Currently the following is not available in swagger-ui 3.2. May be available in October.

- Parameter dropdown lists
https://github.com/swagger-api/swagger-ui/issues/3641

- Authorize
https://github.com/swagger-api/swagger-ui/issues/3665

[2017-09-18 23:24] banders commented on #55
@BK01 @ll911 I think this task is possible, but I can't be certain until digging deeper into the code.

I expect that if we encounter any major obstacles they will appear early in the development work.  I propose that we could alert you of any such obstacles if they arise.  If no major obstacles, I'd estimate about 2 days effort.

Let me know if you'd like us proceed.

[2017-09-19 22:10] BK01 commented on #58
Next steps:

[2017-09-19 22:11] BK01 opened #61 "Community ticket"
Open a ticket with community. How to describe different security controls within the same OpenAPI spec for different resources.

Better defined security model - resource / method level can't be included.

i.e. GET & POST secure

Post here:
https://github.com/OAI/OpenAPI-Specification/issues

[2017-09-19 22:15] BK01 commented on #57
1. New specs
2. Update swagger-ui and swagger-editor (new header) at the same time.

[2017-09-19 22:17] BK01 commented on #60
Need further support for OpenAPI 3 before upgrading the editor

[2017-09-19 22:20] BK01 opened #62 "Create swagger-editor repo"
Create a repo in GOGS to contain customization of swagger-editor (static html). Core code remains under swagger org.

[2017-09-19 22:24] BK01 commented on #56
Test: Compare 2x existing geocoder OpenAPI specs. Merge OpenAPI specs for pub and gated geocoder into a single OpenAPI 3 spec. Add instructions to tell user to avoid key if using pub.

Consider using 'server' option.

[2017-09-19 22:30] BK01 commented on #54
To provide estimate.
Future: analytics to BCDC team

[2017-09-20 16:31] banders commented on #55
@BK01 Looking into the swagger-ui source code a bit more, Sean expects no major obstacles to adding a "Try a Sample" button if we specify examples with our spec files by putting the "example" directly into the "parameter".

If we also want to support examples specified using references (such as $ref: '#/components/examples/zip-example') then we'd need to make some supporting updates deeper within

[2017-09-20 16:38] ll911 commented on #62
done under apim/api-editor

[2017-09-20 16:38] #62 closed, assigned to ll911

[2017-09-20 22:33] BK01 opened #63 "Updated architecture diagram"
To reflect any changes this year

[2017-09-22 20:31] banders commented on #54
@BK01 I estimate this task will take about three days effort.

[2017-09-26 17:50] banders commented on #56
@BK01 @ll911 I updated the gated geocoder spec to pull in Michael's recent changes to the public spec.  The file is still in openapi 2 format.  Pull request is [here](https://github.com/bcgov/api-specs/pull/249).

I transformed the public and gated geocoder specs to openapi3.  Those files are available in [this branch](https://github.com/banders/api-specs/tree/upgrade-to-openapi3/geocoder) of my r

[2017-09-26 20:52] banders commented on #54
@BK01 @ll911 is there a github repository for this new extension yet?  If not, perhaps you can create an empty repo as a starting point for this work...

[2017-09-26 21:04] ll911 commented on #54
@banders https://github.com/bcgov/ckanext-galileo

[2017-09-26 22:12] ll911 commented on #54
need to create access token for this

[2017-09-27 19:58] banders commented on #54
@ll911 Can you send me the galileo service token when you have a chance?  Thanks!

[2017-10-03 20:34] BK01 commented on #52
UAT complete. Migrated to PROD on Sept 21st.

[2017-10-03 20:34] #52 closed, assigned to nobody

[2017-10-03 21:10] BK01 opened #64 "OpenAPI spec - Geomark"
Add the missing 'allowOverlap' parameter to the Geomark OpenAPI spec.

Add to the following areas:

Default: Not selected, optional to include in POST request.
Selected: allowOverlap = true

Description text:
"For Geometry Count=Many select this option to allow overlapping geometries"

Current version:
https://raw.githubusercontent.com/bcgov/api-specs/master/geomark/geomark.json

Example UI with a

[2017-10-03 22:03] BK01 commented on #54
To confirm endpoint being used and version dependency (virt env?). @ll911 to provide details.

[2017-10-03 22:09] BK01 commented on #56
To review release notes for enhancements / bug fixes. @banders to test new release in delivery.

[2017-10-03 22:13] BK01 commented on #55
New patch to be implemented in DLV this week for review.

[2017-10-03 22:14] BK01 commented on #58
@banders to test new release of swagger-ui

[2017-10-03 22:27] BK01 commented on #64
Update OpenAPI spec (current PROD version) in api-specs repo
Also create a new OpenAPI 3 spec in your repo

[2017-10-03 22:33] banders commented on #54
the mashape-analytics python agent shares some dependencies with CKAN, but requires slightly different versions.  This causes dependency conflicts when running CKAN.  I suspect mashape-analytics doesn't need to be so strict with the dependency versions it requires, and I have requested they specify minimum versions in their setup.py file instead of exact versions:

https://github.com/Mashape/analy

[2017-10-03 23:18] banders commented on #54
@ll911 @BK01 I have committed the initial version of the ckanext-galileo plugin:

https://github.com/bcgov/ckanext-galileo

Can you try installing this in the delivery environment?  The readme has install instructions.

[2017-10-04 18:04] banders commented on #64
@BK01 I see that the rest api documentation page listed above doesn't specify the available parameters for the "[new](http://apps.gov.bc.ca/pub/geomark/docs/rest-api/#ca_bc_gov_geomark_web_rest_Geomark_createGeomark)" and "copy" resources.

I hoped to refer to the docs to confirm that "allowOverlap" is the correct parameter name (and not just a human-readable label) and that it is indeed also avai

[2017-10-04 18:28] banders commented on #58
@BK01 @ll911 I have updated my local version of the API Console to use the latest release of swagger-ui (3.3.1).  This version still doesn't support parameter drop-down lists or authorizations (i.e. Get API Key) for OAS 3 spec files.  I can push the latest version to github so you can install in CKAN dlv, but I don't see much point.

Probably best to continue to monitor the swagger-ui releases for

[2017-10-04 18:29] BK01 commented on #64
Other than the link below, we have mainly used fiddler to examine the POST request. We can connect with the Geomark vendor to verify the parameters beyond the link below.

http://apps.gov.bc.ca/pub/geomark/docs/

[2017-10-04 20:17] ll911 commented on #58
I think we can hold it off till the version we need.

[2017-10-04 20:59] BK01 commented on #64
Verified.

/geomarks/new

To allow overlaps:
            allowOverlap=true
            multiple=true

/geomarks/copy

To allow overlaps:
             allowOverlap=true

Sample UI with all allowed parameters:

http://apps.gov.bc.ca/pub/geomark/geomarks#file
http://apps.gov.bc.ca/pub/geomark/geomarks#geomarks

[2017-10-04 21:26] banders commented on #55
@BK01 @ll911 I have merged the new _Try Example_ code into ckanext-openapiviewer.  I also merged in the newest swagger-ui (v3.3.1).  PR is [here](https://github.com/bcgov/ckanext-openapiviewer/pull/32).

Known Limitations:

- The _Try Example_ button only works with OAS 3 files.  (OAS 2 doesn't support parameters examples.)  I have added examples to the OAS 3 version of [bcgnws.json](https://githu

[2017-10-04 21:32] banders commented on #64
Thanks @BK01.  I added the 'allowOverlap' param to the 'new' and 'copy' resources of the OAS 2 spec file.  PR is [here](https://github.com/bcgov/api-specs/pull/252).

[2017-10-04 21:40] banders commented on #64
And I also added the 'allowOverlap' param to the OAS 3 spec file, which currently resides in my repo [here](https://github.com/banders/api-specs/blob/upgrade-to-openapi3/geomark/geomark.json).

[2017-10-04 21:54] BK01 commented on #64
Merge of OAS 2 spec file complete.

[2017-10-05 23:24] BK01 opened #65 "Route Planner API Console"
The current (prod) Route Planner API console in BCDC is experiencing formatting issues with the section headings. Specifically there are headings with inactive open/close icons. Please review and debug.

[API spec](https://github.com/bcgov/api-specs/blob/master/router/router.json):

[API console](https://catalogue.data.gov.bc.ca/dataset/bc-route-planner/resource/6da9690e-a5f5-4b5a-8833-eafc46a4725

[2017-10-06 18:50] BK01 commented on #61
See [link](https://github.com/OAI/OpenAPI-Specification/issues/1370) for post

[2017-10-10 18:20] banders commented on #65
@BK01 @ll911 I think I have fixed the issues that you were referring to.  Pull request [here](https://github.com/bcgov/api-specs/pull/253).

The current version of swagger-ui presents all tags listed in the top-level "tags" object.  Each is rendered as an expandable container listing all paths that have been assigned to the tag.  An expandable container that appears not to expand when clicked is c

[2017-10-11 16:09] BK01 commented on #64
UAT complete

[2017-10-11 16:10] #64 closed, assigned to banders

[2017-10-11 17:09] BK01 commented on #65
@banders @ll911 Debugging issue in PROD.

TypeError: NetworkError when attempting to fetch resource

[2017-10-11 17:47] banders commented on #65
@BK01 @ll911 I see a different error: _TypeError: Failed to fetch_

Looks like this error is because the HTTP OPTIONS request is failing.  For example:

curl -X OPTIONS "https://router.api.gov.bc.ca/directions.json?points=-123.70794%2C48.77869%2C-123.53785%2C48.38200&outputSRS=4326&criteria=shortest&distanceUnit=km&routeDescription=Routing%20results"

Could this be a Kong issue?

[2017-10-11 18:14] ll911 commented on #65
https://router.api.gov.bc.ca/directions.json?routeDescription=spansProvinceFastest&points=-126.844567%2C49.978503%2C-122.799997%2C58.925305&outputSRS=4326&criteria=fastest&distanceUnit=km&apikey=${yourAPIKEY}<https://router.api.gov.bc.ca/directions.json?routeDescription=spansProvinceFastest&points=-126.844567%2C49.978503%2C-122.799997%2C58.925305&outputSRS=4326&criteria=fastest&distanceUnit=km&api

[2017-10-11 18:21] ll911 commented on #65
https://online.swagger.io/validator/debug?url=https://raw.githubusercontent.com/bcgov/api-specs/master/router/router.json

[2017-10-11 18:23] BK01 commented on #65
I found that a request to the API via web browser and script worked, however, I experienced the issue in the console. Getting the following message using the link provided by ll911 above.
"{"schemaValidationMessages":[{"level":"error","message":"Unable to read content.  It may be invalid JSON or YAML"}]}"

[2017-10-11 18:52] banders commented on #65
@BK01 @ll911 Fixed the parse error.  PR [here](https://github.com/bcgov/api-specs/pull/254).

... but I still see an error in the API Console when I try to execute a request.  I think swagger-ui might be omitting the api key from HTTP OPTIONS requests.

[2017-10-16 21:08] BK01 commented on #65
I can see the same omission in the header.

[2017-10-17 21:38] BK01 opened #66 "Galileo report to CSV"
To investigate if it's possible to export a report from Galileo to CSV. Can we do this in an automated fashion on the first of each month using a python script scheduled using Jenkins.

Galileo API docs included this GET request. Need to verify if this is available in our version.

**Details**:
https://galileo.gelato.io/docs/versions/2.0.0/resources/reports/endpoints/report-csv

**Console**:
https

[2017-10-19 18:15] BK01 commented on #65
DataBC to explore options and examine gated geocoder vs. route planner with sending OPTIONS in request. New issue introduced with latest release of swagger.

[2017-10-19 18:16] BK01 commented on #54
DataBC to deploy. Mashape analytics python library dependencies are in conflict. @ll911 investigating resolution.

[2017-10-19 18:18] BK01 commented on #59
Applied to the Geocoder spec which combines the pub and gated endpoint. Can't be tested until swagger-ui is updated to support OpenAPI 3.x.

[2017-10-19 18:19] BK01 commented on #58
@banders to review latest release to determine if latest version of swagger-ui (3.3.2) meets our requirements.

[2017-10-19 18:25] BK01 commented on #66
Cannot use this REST call with current version of Galileo that DataBC has implemented. To use this we must upgrade to the latest version of Galileo.

[2017-10-19 18:49] BK01 opened #67 "API console - corporate key"
For consideration with future project phase.
To be discussed and determine if feasible, what would the scope of work be.

Q: In the BCDC API console can a government user provide their corporate API key as opposed to their developer key authenticated via GitHub. Perhaps as another button or text box?

[2017-10-20 21:53] ll911 commented on #65
@BK01 this is fixed at GW

[2017-10-20 22:00] BK01 commented on #65
UAT completed successfully in PROD

[2017-10-24 17:45] banders commented on #58
@BK01 @ll911 There is an even newer version of swagger-ui than 3.3.2.  [3.4.0](https://github.com/swagger-api/swagger-ui/releases/tag/v3.4.0) is the latest.

I have tested 3.4.0 and found some improvements, but also a new bug.  Here's a summary:

- Param drop-down lists now working for OAS3
- Authorize (i.e. "Get API Key") now working for OAS3
- Try-it-out Execute button no longer working for OAS3

[2017-10-31 22:33] BK01 commented on #49
On hold until new version of swagger-ui available with full openAPI 3.x support for our specs.

[2017-10-31 22:35] BK01 commented on #58
@banders To evaluate version 3.4.1

[2017-10-31 22:41] BK01 commented on #55
Already implemented. Waiting on new version of swagger-ui that meets requirements. Will be active if swagger-ui 3.4.1 meets requirements.

[2017-11-01 16:17] banders commented on #67
@BK01 We suggest that to support both integration with GWA and also corporate keys that we should modify swagger-ui as follows:

- Beside the "Get API Key" button, add a new button called "Use Existing API Key".  The new button will open up a popup window to specify the API key.

I also suggest that we:

- Display the active API key next to the buttons, and perhaps also consider adding a third but

[2017-11-01 18:03] BK01 commented on #67
@banders DataBC has reviewed the proposal. Please proceed with the work to add a 'Use Existing API Key' button, 'Unset API Key' button and active key display.

[2017-11-02 17:01] BK01 opened #68 "WorkBC API Console - Industries parameter"
The Industries parameter in the WorkBC API console does not appear to be working. Please investigate and update the api-spec.

Test performed:
Leave all parameters blank, with the exception of the Industry parameter. Enter ‘16’ and execute. Look at the total count of results returned and note the number. Now re-execute, but change the industry ID to ‘3’. The total count and the results don’t chang

[2017-11-02 23:33] banders commented on #58
@bk01 swagger-ui 3.4.2 seems to fix our main concerns over support for OAS3.  I have [merged](https://github.com/bcgov/ckanext-openapiviewer/pull/33) this version of swagger-ui into the API Console.  Can we try redeploying the API Console in delivery for additional testing?

[2017-11-03 15:36] BK01 commented on #58
@Darv72 Can we try redeploying the API console in DLV.

[2017-11-03 16:12] Darv72 commented on #58
@BK01 The console should now be deployed in DLV.  Let me know if there is anything further.

[2017-11-03 16:19] BK01 commented on #58
@banders @Darv72 New API console is deployed in DLV and ready for testing with OAS3. Initial tests with the combined geocoder spec are looking good.

[2017-11-03 16:40] BK01 commented on #49
DataBC to begin UAT in cad.data

[2017-11-03 16:41] BK01 commented on #56
DataBC to begin UAT in cad.data

[2017-11-03 18:15] banders commented on #68
The issue affects OAS2.  It is related to parameters that are passed as form data.  Seems that for OAS2 recent versions of swagger-ui are issuing requests with Content Type headers that are not consistent with form data parameters.  The Content Type should be `application/x-www-form-urlencoded`, but is instead `application/json`.  As such, the underlying API interprets the request as if no paramet

[2017-11-03 19:01] BK01 commented on #68
@banders Thank you for identifying the issue. I agree, given the timing and progress already made on OAS3 / s-ui in BCDC, please proceed with a solution in OAS3. I have temporarily removed the link to the new viewer for WorkBC and replaced with the old viewer. Once resolved, we can switch back.

[2017-11-08 23:18] BK01 commented on #55
To test in cad.data with BCGNWS spec (OAS3).

[2017-11-08 23:19] BK01 commented on #67
DataBC to begin UAT shortly

[2017-11-08 23:23] BK01 commented on #59
UAT in cad.data

[2017-11-08 23:24] BK01 commented on #58
@BK01 DataBC complete UAT for all OAS3 specs in cad.data this week.

[2017-11-09 17:41] BK01 commented on #54
DataBC to look into options including embedding MA within the plugin, or running the plugin within a container (virtual environment) to avoid dependency conflicts.

[2017-11-14 19:48] BK01 commented on #63
Early draft to include elements of original version as well as any new items. Confirm presence of new version of swagger-ui (viewer and editor), OpenAPI spec, BCDC (with Galileo Agent), GitHub etc.

[2017-11-14 19:57] banders commented on #67
@BK01 @Darv72 I have [merged](https://github.com/bcgov/ckanext-openapiviewer/pull/34) in changes to support corporate API keys.  For any gated API there is now a new button "Enter API Key" (beside "Get API Key").

There is a slight complication with the proposed "Unset API Key" button, so I'm holding that back until we can iron out a bug.

In the mean time, feel free to deploy the latest ckanext-o

[2017-11-14 21:51] banders commented on #55
Recall we have been awaiting a version of swagger-ui that correctly supports "Try it out" and a couple other things that were previously unsupported for OAS3.  Looks like the latest swagger-ui now supports all of the prerequisites, so we will update our code for "Try example" to work with the latest release.

@BK01 We Should have a version of "Try example" ready to test later this week.

[2017-11-14 23:32] banders commented on #57
Header should be customized to match:

https://bcgov.github.io/mygovbc-bootstrap-theme/docs/index.html

[2017-11-14 23:33] banders commented on #60
This issue seems to be a duplicate of https://github.com/bcgov/DBC-APIM/issues/57.  We can probably close this one.

[2017-11-14 23:51] #60 closed, assigned to banders

[2017-11-17 16:33] BK01 commented on #65
UAT complete in cad.data. Headings verified.

[2017-11-17 16:44] BK01 commented on #58
Copy request URL and open request URL buttons to be implemented in new version of console.

[2017-11-17 16:47] BK01 commented on #57
DataBC to confirm location of swagger editor code.

[2017-11-17 16:57] BK01 commented on #49
DataBC completed UAT in cad.data. Issue with Route Planner has been resolved. Open511 and BCLaws will continue to reference the old API console (http://apps.gov.bc.ca/pub/api-explorer/?url=) until issue with HTTPS support and CORS are resolved. Therefore, OAS3 spec and new console / editor migration can continue as planned.

[2017-11-17 16:59] BK01 commented on #56
UAT complete. Redundant issue. Covered by #49

[2017-11-17 17:05] BK01 opened #69 "Server Parameter"
Use the server parameter to specify the api environment for additional specs. Full list of candidate specs are still to be determined. Initial list below.

For the following APIs use the server parameter to list environments delivery, test and prod (default).

[2017-11-17 17:07] BK01 commented on #59
Initial scope adjusted to create a hybrid spec allowing user to toggle between the gated and public geocoder. Functionality now proven to be successful.

[2017-11-17 17:32] BK01 commented on #67
DataBC to deploy in cad.data

[2017-11-17 17:49] BK01 opened #70 "Copy and rename swagger 2.0 specs"
Create a copy and rename swagger 2.0 specs in https://github.com/bcgov/api-specs for APIs which may need to continue using the old console viewer.

Complete for:
- BCLaws, Open511, jobpostings

[2017-11-17 20:49] banders commented on #58
@BK01 @Darv72 I have ported the "Copy Request URL" and "Open Request URL" functionality to the new version of swagger-ui.  The new code has been [merged](https://github.com/bcgov/ckanext-openapiviewer/pull/35) into ckanext-openapiviewer.  There's a slight change to the behaviour:

- The "Copy Request URL" _button_ is gone.  Now, just click on the request URL itself and it is automatically copied.

[2017-11-17 21:00] BK01 commented on #58
Thank you. DataBC will deploy the new code to cad.data for UAT.

[2017-11-20 17:23] banders commented on #55
@BK01 When we first implemented the preliminary "Try Example" functionality, swagger-ui didn't support any functionality around parameter examples.  The latest swagger-ui does have some out-of-the-box functionality for displaying examples via the normal "Try it out" form.  Here's how swagger-ui now works out-of-the box:

For each form field the value is set as follows:

1: If there is already a va

[2017-11-21 23:02] #70 closed, assigned to BK01

[2017-11-21 23:02] #65 closed, assigned to BK01

[2017-11-21 23:02] #56 closed, assigned to BK01

[2017-11-21 23:08] BK01 commented on #55
Deploy latest viewer (see GitHub) in cad.data and test 'try it out' button with new capabilities using OAS 3 specs (bcgnws example). Consider reviewing / adding examples to other specs where applicable.

[2017-11-21 23:10] BK01 commented on #68
@BK01 - UAT with latest viewer

[2017-11-21 23:16] BK01 commented on #57
Investigate use of launcher page for swagger editor with BC Gov't header/footer but use core code for latest community version.

[2017-11-21 23:22] BK01 commented on #54
DataBC to try following CKAN 2.7 update

[2017-11-21 23:27] BK01 commented on #69
DataBC to provide URL's and descriptions

[2017-11-21 23:29] BK01 commented on #50
To add to BCGNWS spec for review in cad.data. Following UAT, other specs may also be updated as listed.

[2017-11-21 23:36] BK01 opened #71 "Replace favicon for Viewer"
Within the CKAN extension (API console viewer) replace the swagger tab icon with the BC gov icon.

[2017-11-22 17:50] BK01 commented on #71
@banders @ll911 @Darv72 The BC Gov't Favicon.ico file for the API console tab can be acquired at the following [web content dev page](https://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements), or directly at this [link](https://www2.gov.bc.ca/favicon.ico).

[2017-11-22 17:59] BK01 commented on #69
URLs provided via email

[2017-11-22 18:22] banders commented on #50
@BK01 I recall a previous conversation in which we discussed that the output of web services tends to change more often than the interfaces.  If we add the output "models" to the OAS specs we'll be obliged to keep them up-to-date which could become a headache.  In my opinion a more practical record of the output "model" is an example of the output itself, which users can already generate via "Try

[2017-11-22 18:41] banders commented on #69
@BK01 @ll911 @Darv72 Some of the API Specs currently have two "Servers" listed: one for HTTP, one for HTTPS.  Recall, APIs using HTTP cause mixed content errors in the API console (which itself is loaded over HTTPS).  Should I remove the HTTP option to avoid this problem?  A secondary benefit is that listing HTTPS only will reduce our server options list from 6 items to 3 items.

[2017-11-22 21:31] BK01 commented on #69
@banders  Sounds reasonable to me. Lets try that proposed approach and test in cad using OAS3 specs from your repo.

[2017-11-22 21:57] BK01 commented on #50
Fair point, let's place this item on hold

[2017-11-23 15:56] BK01 opened #72 "Geocoder API console - Format error"
The Geocoder [API console](https://catalogue.data.gov.bc.ca/dataset/physical-address-geocoding-web-service/resource/40d6411e-ab98-4df9-a24e-67f81c45f6fa/view/1d3c42fc-53dc-4aab-ae3b-f4d056cb00e0) in PROD and cad.data produces the following error for some formats such as geojson, xhtml, kml, gml, csv, shpz.

TypeError: NetworkError when attempting to fetch resource.

However, other API consoles, su

[2017-11-29 18:39] banders commented on #69
@BK01 I have updated the following API specs (OAS3) with "server" URLs for delivery, test and prod:

- bcdc
- bcgnws
- geocoder (public, gated and combined)
- geomark
- router

https://github.com/banders/api-specs/tree/upgrade-to-openapi3

[2017-11-29 19:00] banders commented on #71
@BK01 I replaced the default swagger-ui favicon with the bcgov favicon.  My [pull request](https://github.com/bcgov/ckanext-openapiviewer/pull/36) has been merged into ckanext-openapiviewer.

[2017-11-29 20:52] banders commented on #63
@BK01 What is your vision for the scope of the arhcitecture diagram.  Currently it only contains components related to API management.  If we'd like to keep the same scope then it seems to me that the BCDC Galileo Agent wouldn't belong on the diagram.

Thoughts?

[2017-11-29 21:46] banders commented on #63
@BK01 I see that you closed this issue, although I did make a few minor updates to the APIM architecture diagram anyway.  Pull request is [here](https://gogs.data.gov.bc.ca/DataBC/arch-diagram/pulls/2).

The integration of the API Console with GWA is now represented on the diagram.

I didn't include the BCDC Galileo Agent because it doesn't seem related to API management.

[2017-11-29 23:04] BK01 commented on #71
DataBC preparing to deploy

[2017-11-29 23:09] BK01 commented on #69
@BK01 DataBC to use with new viewer, as well as UAT for CORS issues in TEST. Add comment or disclaimer that DLV/TEST will work in gov't domain through BCDC viewer. In external viewer may have issue. Also confirm usage of BCDC permalinks and ideal bbox params

[2017-11-29 23:25] BK01 commented on #72
DataBC to re-test cad.data with BA repo, also repeat in petstore, document, re-comment. Test reveals, gated geocoder works fine. DataBC to investigate apps.gov endpoint.

[2017-11-29 23:33] BK01 opened #73 "UAT everything"
Once CKAN 2.7 in place, and new viewer available.

[2017-11-30 22:10] BK01 opened #74 "Update router api spec"
Please update OpenAPI spec (3) in your branch for the Route Planner.

mraross has provided details in the link below.
https://github.com/bcgov/api-specs/issues/263

[2017-12-01 17:39] BK01 commented on #67
UAT successful in cad.data using Geocoder API console with no key, corporate key, and developer key. Unset API key tested. Tested multiple API keys with specific environment grants.

[2017-12-01 17:50] BK01 commented on #59
@banders UAT results:

Test 1:
Geomark - DLV/TEST/PROD - Successful rotation between environments

Test 2:
Geocoder - PUB PROD - OK
                 - GATED Corporate Key - OK
                 - GATED Developer Key - OK
                 - PUB PROD - API key still showing in Curl, along with an error
                                      "TypeError: NetworkError when attempting to fetch resource"

[2017-12-01 17:56] BK01 commented on #59
@banders Is it possible to action the 'unset API key' code based on the environment / server selected? If not, we may just need to document the workflow. Manually clicking this seemed to resolve it. Alternatively, we can document the behaviour in our guidance materials.

[2017-12-01 18:02] BK01 commented on #49
@banders All API consoles successful except for one.

The BCDC console TEST and DLV environment URLs need to be adjusted. The current request URL is listed as:
- https://cat.data.gov.bc.ca/action/tag_list
- https://cad.data.gov.bc.ca/action/tag_list

 and should be changed to include /api/3/
- https://cat.data.gov.bc.ca/api/3/action/tag_list
- https://cad.data.gov.bc.ca/api/3/action/tag_list

[2017-12-01 18:07] banders commented on #49
@BK01 I have fixed the 'delivery' and 'test' server URLs.  New spec here:

https://github.com/banders/api-specs/blob/upgrade-to-openapi3/bcdc/bcdc.json

[2017-12-01 18:08] banders commented on #59
@BK01 Were you using the "combined" spec for testing the Geocoder?

[2017-12-01 18:09] BK01 commented on #68
@banders In cad.data, the user input parameters appear to be missing from the /jobs POST request section.

Previous version containing input parameters can be found [here](http://apps.gov.bc.ca/pub/api-explorer/?url=https://workbcjobs.api.gov.bc.ca/v1/specs/#!/Job_Feed/post_jobs) for example.

[2017-12-01 18:10] BK01 commented on #63
Merged.

[2017-12-01 18:12] BK01 commented on #71
Once deployed, BK01 to UAT

[2017-12-01 18:15] banders commented on #68
@BK01 Are you testing with the OAS3 spec?

https://raw.githubusercontent.com/banders/api-specs/upgrade-to-openapi3/jobposting/jobposting.json

The new version of swagger-ui (not yet deployed in CAD right?) should fix the issue for the /jobs POST operation using OAS3. (There is still a swagger-ui bug affecting this operation for OAS2, as described above.)

[2017-12-01 18:18] BK01 commented on #73
UAT completed for : #67, #63, #68, #49, #58, #59

Next on the list: #55

[2017-12-01 18:28] BK01 commented on #59
@banders Yes

[2017-12-01 18:31] BK01 commented on #49
@banders Confirmed. Successful UAT in cad.data for BCDC api spec

[2017-12-01 18:34] BK01 commented on #68
Will confirm status on swagger-ui, re-assign and place in QA pipeline for now.

[2017-12-01 18:34] banders commented on #59
@BK01 I think it might require changes that are very API-specific if we want to unset the API key based on the selected server.  That might not be a good idea for the long-term maintainability of our code.  Are you getting any errors by submitting the (unnecessary) API key to the public geocoder?  If not, in my opinion it is only a very minor quirk that we should document in the combined Geocoder

[2017-12-01 18:39] BK01 opened #75 "OpenAPI spec - Geomark - Add examples"
Add examples to the Geomark API spec (OAS 3).

**create -> /geomarks/copy**
geomarkUrl = https://apps.gov.bc.ca/pub/geomark/geomarks/gm-abcdefghijklmnopqrstuv0bcislands

**boundingBox**
geomarkId = gm-abcdefghijklmnopqrstuv0bcislands
fileFormatExtension = json

**feature**
geomarkId = gm-abcdefghijklmnopqrstuv0bcislands
fileFormatExtension = json

**info**
geomarkId = gm-abcdefghijklmnopqrstuv0bci

[2017-12-01 18:41] BK01 commented on #59
Agreed, DataBC to document issue for this specific api spec

[2017-12-01 20:27] BK01 opened #76 "'Manage API Keys' button in API console"
Add a 'Manage API keys' button to the API console beside the existing API key buttons (far right) to simply open in a new tab the following URL.

https://gwa.apps.gov.bc.ca/

The final API console should have 3 buttons, in the following order: Enter API Key, Get API Key, Manage API Keys

This creates more of a linkage between BCDC and GWA from a user perspective. This is based on feedback from use

[2017-12-01 20:31] BK01 opened #77 "Developer Guide hyperlink in API console"
Add a 'Developer Guide' hyperlink to OAS 3 api specs that links to the URL below.

Use the externalDocs parameter to create this link.

https://github.com/bcgov/gwa/wiki/Developer-Guide

With API specs that already contain an externalDocs link, please move that hyperlink to the end of the intro paragraph.

Only for API specs requiring an API key.

[2017-12-01 20:44] BK01 commented on #58
Successful UAT in cad.data

[2017-12-01 20:50] BK01 commented on #55
To test when latest release of swagger-ui is deployed.

[2017-12-01 20:58] #73 closed, assigned to BK01

[2017-12-02 00:35] BK01 commented on #68
DataBC to include Marina in UAT plan

[2017-12-04 17:01] banders commented on #57
@BK01 Can you confirm the location for storing the swagger editor code?  I am unable to access the location identified in [this issue](https://github.com/bcgov/DBC-APIM/issues/62).

[2017-12-04 17:36] banders commented on #74
@BK01 @ll911

I added support for the router API's new POST operations, but it appears that CORS headers aren't enabled for POST.

These are the response headers from the GET request (which does work):

access-control-expose-headers:Origin,apikey,Access-Control-Allow-Origin,Access-Control-Allow-Methods
access-control-allow-origin:http://localhost:9090

(The second one exists to allow me to test fr

[2017-12-04 17:40] ll911 commented on #74
Router cors set with RGEX with only valid gov domain.
Router in DLV has whitelist for github.io

From: banders <notifications@github.com>
Reply-To: bcgov/DBC-APIM <reply@reply.github.com>
Date: Monday, December 4, 2017 at 9:36 AM
To: bcgov/DBC-APIM <DBC-APIM@noreply.github.com>
Cc: "Lou, Leo JTT:EX" <Leo.Lou@gov.bc.ca>, Mention <mention@noreply.github.com>
Subject: Re: [bcgov/DBC-APIM] Update rout

[2017-12-04 17:44] banders commented on #74
Ok, although the CORS headers I listed above are included with GET operations even from outside the bc gov domains.  In this case it seems strange to have different policies for GET and POST.

[2017-12-05 23:14] BK01 commented on #55
To investigate why example value not populating API console. Tested in petstore and cad.data.

[2017-12-05 23:19] BK01 commented on #68
Version of swagger-ui (3.4.4) used in cad.data still has a bug. Swagger community to be notified. Tested in cad.data and petstore.

[2017-12-05 23:23] BK01 commented on #74
DataBC to verify in cad.data

[2017-12-05 23:33] BK01 commented on #71
Old favicon still in place. DataBC to re-deploy cad.data again to resolve.

[2017-12-05 23:39] BK01 commented on #72
@BK01 DataBC to confirm if CORS should be opened for the public geocoder endpoint. Threshold is currently 1000 per minute.

[2017-12-06 00:11] BK01 opened #78 "New DataBC Location Services email"
Update the 'send an email to databc' link to use the new Location Services email for the following API specs (OAS 3). I'll email you the new account.

- Geocoder
- Geomark
- Route Planner

[2017-12-06 00:37] banders commented on #68
Re-raised this problem with the swagger-ui community:

https://github.com/swagger-api/swagger-ui/issues/3788

[2017-12-06 00:51] BK01 commented on #71
Verified in cad.data

[2017-12-06 17:58] banders commented on #55
@BK01 There was a problem with how parameter examples were defined in the bcgnws spec.  I have fixed this.  The corrected version is here:

https://raw.githubusercontent.com/banders/api-specs/upgrade-to-openapi3/bcgnws/bcgnws.json

I have confirmed that examples are correctly showing in the "Try it out" forms.

[2017-12-06 19:17] banders commented on #76
@BK01 @ll911 Added the new button.  Changes [merged](https://github.com/bcgov/ckanext-openapiviewer/pull/37).  Feel free to redeploy ckanext-openapiviewer in cad to see the changes.

[2017-12-08 16:38] BK01 commented on #76
Successful UAT complete in cad.data of manage API keys button.

[2017-12-08 16:40] BK01 commented on #55
Successful UAT completed in cad.data with BCGNWS console.

[2017-12-08 16:50] BK01 commented on #54
On hold until Galileo license is confirmed

[2017-12-08 16:54] BK01 commented on #74
@mraross @BK01 The following Route Planner [API console](https://cad.data.gov.bc.ca/dataset/test-api-2/resource/ad785338-2ce6-47fe-972f-7351c1d321cf/view/594cfb8f-6a32-4f01-bb69-a8968afd644e) is available for UAT

[2017-12-08 20:53] banders commented on #68
@BK01 I think this issue may have been [fixed](https://github.com/swagger-api/swagger-js/pull/1200) by the swagger-ui community.  I'll plan to test it out on the next release of swagger-ui.

[2017-12-11 19:06] BK01 opened #79 "OpenAPI spec - Route Planner - Add examples"
Add examples to the Route Planner API spec (OAS 3).

**directions**
outputFormat = json
points = -123.70794,48.77869,-123.53785,48.38200

**distance**
/distance
outputFormat = json
points = -123.70794,48.77869,-123.53785,48.38200

/distance/betweenPairs
outputFormat = json
fromPoints =  -123.70794,48.77869,-123.53785,48.38200
toPoints = -124.972951,49.715181,-123.139464,49.704015

**route**
output

[2017-12-11 19:15] BK01 opened #80 "OpenAPI spec - Geocoder (combined) - Add examples"
Add examples to the Geomark API spec (OAS 3).

**sites**
/addresses
outputFormat = json
addressString = 525 Superior Street, Victoria, BC

/sites/nearest
outputFormat = json
point = -122.377,50.121

/sites/near
outputFormat = json
point = -122.377,50.121

/sites/within
outputFormat = json
bbox = -119.51,49.48,-119.53,49.50

/sites/siteID/subsites
 - No examples for this one. SiteID's change when d

[2017-12-11 19:43] BK01 opened #81 "Retire old API viewer and specs"
Facilitate updates to APIs below to allow usage of new API console. Once complete, old viewer can be retired.

**Open511** - DataBC will present https support proposal to MOTI following new GWA (GitHub Issues - 34, 35, 36 / JIRA -1327) and dbc-apim code migration to PROD.

**BC Laws** - DataBC to speak with API owner about https support and CORS issue

[2017-12-11 19:44] BK01 commented on #69
DataBC will fork and update once latest OAS3 specs are merged into master (PROD viewer migration)

[2017-12-11 19:50] BK01 opened #82 "Update developer guide"
@BK01 to update developer guide on GitHub wiki to support UI changes in new viewer (new links, buttons, examples etc).

https://github.com/bcgov/gwa/wiki/Developer-Guide

Also update spec editor links in metadata records and[ API Mgmt webpage](https://www2.qa.gov.bc.ca/gov/content/data/about-data-management/databc/databc-products-services/api-management)

[2017-12-11 19:51] BK01 commented on #82
Edits to be coordinated with PROD migration of viewer. Target date?

[2017-12-12 17:14] BK01 commented on #57
@banders Please also use the BC Gov't favicon as completed for #71

[2017-12-12 17:16] BK01 commented on #74
DataBC UAT still ongoing

[2017-12-12 17:17] BK01 commented on #61
Still no replies

[2017-12-12 19:33] BK01 opened #83 "Elasticsearch"
Existing analytics software is no longer used for the API Gateway. DataBC needs to acquire the following metrics.

- Total hits per month

For the following APIs
- Gated Geocoder
- BC Route Planner
- WorkBC job postings

If possible:
- Also, record results to a csv file

Proposed tech: Elasticsearch
Location of active December logs: To discuss in mtg
Additional metrics: Can be added in a future is

[2017-12-12 21:01] BK01 commented on #72
@ll911 Confirmed with LS team. DataBC can proceed to open CORS for the public geocoder endpoint.

[2017-12-12 23:02] BK01 opened #84 "Route Planner API spec - Dev Guide"
Add a link to the Route Planner developer guide to the description section of the API Console (OAS3).

https://github.com/bcgov/api-specs/blob/master/router/router-developer-guide.md

[2017-12-12 23:25] BK01 commented on #83
Storage is required first (3-4 months). Interim, need to parse raw access log file (Nginx). Need to process with Logstash and inject into Elasticsearch. DataBC to provide Brock a sample log.

[2017-12-12 23:32] BK01 opened #85 "Assessment: Kong Plugin with Lua"
Investigate writing a Kong plugin with Lua to zero the last Octet of an ip address to enable usage of the cloud for analytics without personal information.

1, it will be used for IP anonymous on cloud analytic services like google, snowplow, etc
2, once the plugin enabled for an API behind Kong, it should zero out last octet of client’s real ip and pass as X-Forward-For and Origin to upstream

ht

[2017-12-13 21:21] banders commented on #78
@BK01 This is done.  The updated file are here:

https://github.com/banders/api-specs/tree/upgrade-to-openapi3

[2017-12-13 21:59] BK01 commented on #78
@banders api specs reviewed. Email account changed successfully.  One update request - For Geomark and the Route Planner. Please change the "Data BC" text in the email link label to "DataBC"

[2017-12-13 22:06] banders commented on #78
@BK01 "Data BC" has been changed to "DataBC"

[2017-12-13 22:07] banders commented on #77
@BK01 The GWA "Developer Guide" link has been added to all OAS3 specs:

https://github.com/banders/api-specs/tree/upgrade-to-openapi3

[2017-12-13 22:58] banders commented on #75
@BK01 Examples added.

https://github.com/banders/api-specs/blob/upgrade-to-openapi3/geomark/geomark.json

[2017-12-13 22:58] banders commented on #79
@BK01 Examples added:

https://github.com/banders/api-specs/blob/upgrade-to-openapi3/router/router.json

[2017-12-13 22:59] banders commented on #80
@BK01 Examples added:

https://github.com/banders/api-specs/blob/upgrade-to-openapi3/geocoder/geocoder-combined.json

[2017-12-13 23:08] banders commented on #84
@BK01 This is done.

https://github.com/banders/api-specs/blob/upgrade-to-openapi3/router/router.json

[2017-12-14 16:54] BK01 commented on #84
UAT complete in cad.data

[2017-12-14 16:55] BK01 commented on #75
UAT complete in cad.data

[2017-12-14 16:56] #58 closed, assigned to banders, BK01, Darv72

[2017-12-14 16:57] BK01 commented on #79
UAT complete in cad.data

[2017-12-14 17:03] BK01 commented on #80
UAT complete in cad.data

[2017-12-14 17:07] BK01 commented on #77
UAT complete in cad.data

[2017-12-15 20:04] BK01 commented on #69
api-spec update complete in BK01 repo. Next UAT, followed by PR to banders repo.

[2017-12-15 20:10] banders commented on #57
@BK01 The new swagger-editor has been committed here:

https://gogs.data.gov.bc.ca/apim/oas-editor

@ll911 Can you deploy this to a web accessible location?

Example usage:

[deployment url]?url=https://raw.githubusercontent.com/banders/api-specs/upgrade-to-openapi3/geocoder/geocoder-combined.json

[2017-12-15 21:00] ll911 commented on #57
https://oas-editor-t.apps.gov.bc.ca/

[2017-12-15 22:38] BK01 commented on #69
@banders changes to api-specs available for your review in this [pull request](https://github.com/banders/api-specs/pull/1)

[2017-12-19 23:09] BK01 commented on #57
@banders to add generate client and generate server menus.

[2017-12-19 23:15] BK01 commented on #69
@BK01 to repeat UAT

[2017-12-19 23:22] BK01 opened #86 "Help button"
Remove the 'Developer Guide' external docs link and create a help button (question mark) to the right of the manage api button in the API console.

[2017-12-19 23:23] BK01 commented on #72
@BK01 to repeat UAT

[2017-12-19 23:25] BK01 commented on #72
tests complete in DLV and PROD.

[2017-12-19 23:38] banders commented on #57
@BK01 Our deployment of swagger-editor is configured to display all the menus, but swagger-editor is buggy and doesn't always display them.  Try refreshing the page a few times, and you'll probably notice the menus will come back.

We should file a bug report with the swagger editor community.

[2017-12-19 23:39] BK01 commented on #69
UAT successful

[2017-12-19 23:56] BK01 commented on #57
Thanks for the confirmation. During my tests the two menu's appear on screen for a moment and then disappear.

[2017-12-20 16:50] BK01 commented on #61
@banders @ll911 - reply received [here](https://github.com/OAI/OpenAPI-Specification/issues/1370#issuecomment-353032726)

[2018-01-04 21:14] banders commented on #68
@BK01 I have tested the latest swagger-ui against the WorkBC API, but there's still a problem with the way that swagger-ui encodes the industries parameter.

I have investigated the problem thoroughly, and tried various modifications to the API spec in an effort to fix the issue, but I have not been successful.  I posted an a issue with the swagger-ui community.

https://github.com/swagger-api/swa

[2018-01-05 00:34] BK01 commented on #83
@banders To discuss when you are available

[2018-01-08 22:16] banders commented on #68
@BK01 The swagger-ui community believes that our difficulty with the Industries parameter in the WorkBC API is indeed due to a bug in swagger-ui:

https://github.com/swagger-api/swagger-ui/issues/4071#issuecomment-356113383

They are aiming to have a fix included in the Jan 12 milestone.

[2018-01-08 22:36] banders commented on #57
@BK01 Sean reported to the swagger-ui community the problem with "generate client" and "generate server" buttons not displaying.

https://github.com/swagger-api/swagger-editor/issues/1625

Looks like this is a known issue related to the following:

https://github.com/swagger-api/swagger-editor/pull/1592

In summary, MS Edge has a bug that prevents display of the "generate" menus.  The bug has been

[2018-01-08 23:53] banders commented on #86
@BK01 I removed the 'Developer Guide' links from all the the API Specs, and I modified swagger-ui with a new 'API Key Help' button.  I also added the new swagger-ui to the CKAN API Console plugin (https://github.com/bcgov/ckanext-openapiviewer/pull/39).

@ll911 Can you redeploy the CKAN API Console plugin in CAD?

[2018-01-09 17:30] ll911 commented on #86
cad deployed

[2018-01-10 17:20] BK01 opened #87 "Retire old Swagger Editor"
Retire old swagger editor once new editor is in PROD and in use by all other active specs.

[2018-01-10 17:59] BK01 commented on #57
@banders @ll911 Scheduled for migration to PROD. Future patch can address the MS Edge issue.

[2018-01-10 18:01] BK01 commented on #68
Test to be repeated next week, following by a tentative date selection for migration of viewer to PROD.

[2018-01-10 22:49] BK01 commented on #86
@BK01 @banders  UAT of help button in cad.data complete

[2018-01-11 19:52] BK01 commented on #57
@banders @ll911 New OAS Editor in PROD. Links in BCDC metadata records have all been updated with the exception of WorkBC which will be re-tested after the Jan 12th patch is implemented.

[2018-01-17 17:59] BK01 opened #88 "Design New API registration"
Investigate and propose design for a service to enable new BC Gov't API owners (IDIR) to register their API's with Kong. The service should be able to be called from a button in BCDC (add dataset for example when logged in), the API console or GWA.

API owners will still be responsible for using BCDC in a self-serve manner to describe their APIs (metadata, API console etc).

The scope of this issu

[2018-01-17 18:01] BK01 opened #89 "Design: New Organization Registration"
How does a muni get a prod key (no process) - name, org, use this for X, name of api requested.

need to be able to configure registration page (by api owner) based on their req't

Investigate and propose design for a service to enable new organizations such as BC Gov't Ministries, Municipal Governments or Federal Government Ministries to register with Kong and get a production API key. The servic

[2018-01-18 00:13] BK01 commented on #57
Migration to PROD complete

[2018-01-18 00:15] BK01 commented on #86
Migration to cat complete. PROD migration scheduled for Jan 23.

[2018-01-18 00:22] BK01 commented on #66
Issue closed - DataBC not using Galileo

[2018-01-18 00:22] #66 closed, assigned to nobody

[2018-01-18 00:22] BK01 commented on #51
Issue closed - DataBC not using Galileo

[2018-01-18 00:22] #51 closed, assigned to nobody

[2018-01-18 00:23] #29 closed

[2018-01-18 00:24] BK01 commented on #27
Issue closed - DataBC not using Galileo

[2018-01-18 00:24] #27 closed

[2018-01-18 00:25] BK01 commented on #11
Issue closed - DataBC not using Galileo

[2018-01-18 00:25] #11 closed

[2018-01-19 16:45] BK01 commented on #82
Draft complete, following review will be promoted to PROD for the Jan 23rd release.

[2018-01-22 17:06] BK01 commented on #83
Out-of-the-box implementation did not meet requirements and was unable to interpret WorkBC logs. This test has been completed and shut down.

[2018-01-23 20:24] BK01 opened #90 "OpenAPI 3 Viewer UAT"
Re-test new OpenAPI viewer in BCDC PROD

[2018-01-23 20:26] BK01 commented on #90
UAT complete in PROD.

All specs using new viewer with the exception of WorkBC and Open511 which are intentionally set to use the old spec and old viewer.

Issue found:
2. BCGNWS - Editor showing error message

[2018-01-23 23:08] BK01 commented on #90
@banders Can you investigate the issues noted above?

[2018-01-23 23:15] BK01 commented on #88
2 components - service + UI

Log into BCDC, click 'add dataset'..
Form or modal window for API owner (IDIR) to fill out (backend, default rate limit, name of API, shortname.api.gov.bc.ca, metadata URL (draft or pub) - DataBC to confirm fields and default values etc
To result in email to LL, SD and BK.
LL or SD setup in GWA

[2018-01-23 23:35] BK01 commented on #89
Need to validate requester
How to store identity
Result in email to API owner (from api-specs)

[2018-01-23 23:48] BK01 commented on #38
@ll911 to send @banders a sample log for parsing script test.

[2018-01-23 23:50] #83 closed, assigned to nobody

[2018-01-23 23:50] BK01 commented on #83
.

[2018-01-24 00:11] BK01 opened #91 "API Console: Valid icon"
**Is your feature request related to a problem? Please describe.**

'Valid' icon is missing from bottom of API console. This is because the validator doesn't currently support OAS3, and is disabled on OAS3 specs.

**Describe the solution you'd like**

Deploy the new public release of the validator to restore the ‘Valid’ icon.

[2018-01-24 00:55] banders commented on #91
@BK01 @ll911

The validator doesn't currently support OAS3, and is disabled on OAS3 specs.  From the source code:

[2018-01-24 01:02] banders commented on #90
@BK01 I fixed the problem with the BCGNWS spec in the swagger-editor.  Pull request is here:

https://github.com/bcgov/api-specs/pull/290

[2018-01-24 23:40] ll911 opened #92 "API specs for WFS, WMS etc"
from @webgismd,
need sth like https://www.npmjs.com/package/wfs2swagger to produce Open API specs for our current WFS/WMS,etc
maybe align with incoming WFS3 ?
https://github.com/opengeospatial/WFS_FES
https://rawgit.com/opengeospatial/WFS_FES/master/docs/17-069.html

[2018-01-25 17:01] BK01 commented on #90
@banders @ll911 DataBC to merge PR and complete UAT in cad.data.

[2018-01-25 18:03] BK01 opened #93 "API console for WFS and WMS?"
Investigate creating an OpenAPI spec for public DataBC WFS and WMS

Metadata record to have an API console:
https://catalogue.data.gov.bc.ca/dataset/bc-web-map-library

Docs:
https://medium.com/@cholmes/wfs-3-0-get-excited-yes-8e904fdbcc0
https://github.com/opengeospatial/WFS_FES/blob/master/overview.md

from @webgismd,
need sth like https://www.npmjs.com/package/wfs2swagger to produce Open API sp

[2018-01-26 17:47] BK01 opened #94 "API Console - Describe dev keys"
For API consoles that require a key, include a statement (and link to the dev guide) to describe the difference between dev keys and org keys.

[2018-01-26 17:50] BK01 commented on #94
api-specs updated. Verification to be completed in prod.

[2018-01-29 21:07] banders commented on #88
@BK01 I send you an email with a proposed system design.  If you're happy with the proposed design, I can send a quote.

[2018-01-30 22:50] BK01 commented on #94
Verification complete

[2018-01-30 23:08] BK01 commented on #90
will UAT in cat.data

[2018-01-30 23:50] banders commented on #88
The proposal was discussed during a conference call today.  It was suggested that we extend the capabilities of the REST API.  It will now perform two tasks (item 1 below is the new requirement):

1. **Create a new draft metadata record in BCDC for the API (if no such record currently exists)**
2. Send an email to DataBC with details of the proposed new API.

[2018-01-31 22:37] BK01 commented on #90
Complete. BCGNWS issue resolved in PROD.

[2018-02-06 17:48] BK01 commented on #92
Issue text merged with #93

[2018-02-06 17:48] #92 closed, assigned to nobody

[2018-02-08 00:27] BK01 opened #95 "Request URL not shown in API Console"
Current API consoles in BCDC (PROD) do not show the request URL snippet [-click here for example-](https://catalogue.data.gov.bc.ca/dataset/physical-address-geocoding-web-service/resource/40d6411e-ab98-4df9-a24e-67f81c45f6fa/view/1d3c42fc-53dc-4aab-ae3b-f4d056cb00e0), only the response body and response header are shown.

[2018-02-08 00:28] BK01 commented on #95
@banders @ll911 Experiencing issues displaying the request URL in API console.

[2018-02-08 16:59] BK01 commented on #16
DataBC has a draft spec ready for testing and refinement.

[2018-02-09 19:14] BK01 commented on #88
To review new design doc

[2018-02-09 22:34] banders commented on #95
@BK01 @ll911 I created a patch that restores the Request URL and the Curl command.

https://github.com/bcgov/ckanext-openapiviewer/pull/41

The patch has been merged into the bcgov repo.  Feel free to redeploy in CAD at your convenience.

[2018-02-13 23:08] ll911 commented on #91
blocked https://github.com/swagger-api/validator-badge/issues/115

[2018-02-15 18:58] BK01 commented on #93
Discussing with web mapping and prepping for next week.

[2018-02-16 23:09] BK01 commented on #16
DWDS OFI Swagger 2.0 spec received and uploaded into BCDC-TEST. GitHub can be used in the future once API owner approves. Next steps, fix errors and convert to OpenAPI 3 spec.

[2018-02-20 23:07] BK01 commented on #16
DataBC to move spec to Gogs repo for DWDS-OFI. To speak to TL about using conversion script to bring to OAS 3.

[2018-02-20 23:43] BK01 commented on #89
DataBC to compile list of API owner questions, interview API owners, and provide to PIA office.

[2018-02-23 16:41] BK01 opened #96 "API Console: Content-type error"
Console used: Route Planner
Environment: cad.data
Record: test-api-2

Issue:
use routertst or router,
CORS returned correct header
However content-type seems wrong with console, it’s correct when use curl

Test results:

1.
when use curl
url -I -X POST "https://routertst.api.gov.bc.ca/directions.json?points=-123.70794%2C48.77869%2C-123.53785%2C48.38200" -H "accept: */*" -H "apikey: ********"
HTTP/

[2018-02-23 23:17] banders commented on #93
@BK01 @ll911 Thinking more about this, I can't imagine any way to convert the WMS and WFS specs into OpenAPI format in a way that would be useful.  WMS and WFS are web services, but they are not RESTful.  (OAS is designed for RESTful APIs.)  Both WMS and WFS have a single endpoint with oodles of different parameter combinations.  OAS doesn't provide any means to organize and simplify this complexi

[2018-02-28 00:03] BK01 commented on #68
@banders to review release 3.11 for fix

[2018-02-28 00:05] BK01 commented on #93
To revisit when WFS 3 is released which will be a RESTful spec.

[2018-02-28 00:08] BK01 commented on #96
Re-opened: Actually, this only fails with POST. Our test used GET.

[2018-03-01 22:32] BK01 commented on #93
@webgismd Temporarily on hold until WFS 3 API available for testing.

[2018-03-06 23:04] BK01 commented on #16
Complete - in cat.data.

[2018-03-06 23:09] BK01 commented on #38
@BK01 Investigate export from Elk to csv via python script launched in Jenkins

[2018-03-12 18:11] banders commented on #68
@ll911 @BK01 I am testing the latest swagger-ui to determine if it addresses the WorkBC API issue, but I ran into a snag:

Looks like there is a CORS issue with the https://workbcjobs.api.gov.bc.ca when testing from my local dev PC (on localhost:9090).  Is the server configured to include the "Access-Control-Allow-Origin: *"  header?

[2018-03-12 18:16] ll911 commented on #68
[code]
**`access-control-allow-origin: *`**

[2018-03-12 18:23] banders commented on #68
@ll911 Hmm... not working for me from a browser (Chrome):

GET https://workbcjobs.api.gov.bc.ca/v1/jobTypes

I'm seeing these response headers:

content-length:61
content-type:text/html; charset=iso-8859-1
date:Mon, 12 Mar 2018 18:18:04 GMT
status:403
x-kong-proxy-latency:2
x-kong-upstream-latency:36
x-ratelimit-limit-minute:100
x-ratelimit-remaining-minute:99

[2018-03-12 18:24] banders commented on #68
@ll911 seems to be working now.  Suddenly the same request I made above is returning:

**access-control-allow-origin:***
cache-control:no-cache
content-length:310
content-type:application/json; charset=utf-8
date:Mon, 12 Mar 2018 18:22:51 GMT
expires:-1
pragma:no-cache
server:Microsoft-IIS/7.5
status:200
x-kong-proxy-latency:2
x-kong-upstream-latency:64
x-opval:GLE
x-ratelimit-limit-minute:100
x-r

[2018-03-12 18:53] banders commented on #68
@ll911 I'm getting the CORS exception again from CURL and the API Console.  Looks like it might be related to an HTTP 403 error.  Any idea why the request would be returning 403?

curl -I -XGET https://workbcjobs.api.gov.bc.ca/v1/regions/
HTTP/1.1 403 Forbidden
Content-Type: text/html; charset=iso-8859-1
Content-Length: 61
Connection: keep-alive
X-RateLimit-Limit-minute: 100
X-RateLimit-Remaining-

[2018-03-12 23:29] banders commented on #68
@BK01 @ll911 The problem I mentioned above with CORS and HTTP 403 still seems to be affecting the WorkBC Jobs API, although the issue is intermittent.  During those times when the API is working for me, I was able to test it with the latest version of swagger-ui (3.12.1).  The new version fixes queries that use the Industries parameter on the **POST /jobs** endpoint.

I incorporated the new swagge

[2018-03-13 17:52] banders commented on #96
@BK01 @ll911 I am not able to reproduce the problem that you reported, although I am observing a different problem:

Requests from curl or from the API console both result in errors.

a. From curl the response is HTTP 403.  This is the curl example that I was testing:

curl -X POST "https://router.api.gov.bc.ca/directions.json?points=-123.70794%2C48.77869%2C-123.53785%2C48.38200" -H "accept: */*"

[2018-03-13 18:19] ll911 commented on #68
deployed to cad

[2018-03-13 18:36] BK01 commented on #68
@banders @ll911

**Test 1**: In chrome on cad.data I didn't see a specific error message, but also don't see the expected response using the test case above (industry = 16) as compared with the [older API console](http://apps.gov.bc.ca/pub/api-explorer/?url=https://workbcjobs.api.gov.bc.ca/v1/specs/#!/Job_Feed/post_jobs)

**Test 2**: In Firefox on cad.data I received the following error message al

[2018-03-13 19:15] banders commented on #68
@BK01 @ll911

I'm seeing intermittent HTTP 403 errors for the Router API.  I have tested from my PC and from a remote server.  Seems like the API works for about 5 minutes, then gives 403 for 5 minutes, then works again, then 403... This is similar to what I mentioned yesterday for the WorkBC API.  It is causing the API Console to report CORS errors (because the HTTP 403 response doesn't include C

[2018-03-14 00:31] BK01 opened #97 "API Console - access control"
The API console is experiencing an issue in PROD when submitting requests with an API key, leading to a Type:Error Failed to fetch message.

The issue looks to be due to use usage of '*' with access-control-allow-origin (see below). We may need to use explicit instead.

Test cases:

Details:
curl -I -XGET https://geocoder.api.gov.bc.ca/addresses.geojson
HTTP/2 200
content-type: application/vnd.geo

[2018-03-14 00:32] BK01 commented on #97
@ll911 @banders We can discuss in greater detail anytime tomorrow before or during our API Mgmt meeting.

[2018-03-14 00:45] BK01 commented on #96
Will re-test POST with Route Planner console on Weds, March 14

[2018-03-14 22:21] BK01 commented on #97
re-test to confirm resolved. Weds 3pm test successful

[2018-03-20 22:27] BK01 commented on #89
@BK01 @mraross to review latest diagram, then @banders to update remainder of doc.

[2018-03-20 23:03] BK01 commented on #68
**DataBC** - Test OAS3 spec in BCDC DLV works with industries only. Migrate new console to TEST / PROD (3.12.1). @BK01 create delivery booking
**WorkBC team** - adjust default example

[2018-03-22 22:50] BK01 commented on #89
@banders DataBC review complete. Please proceed with doc update.

[2018-03-27 16:14] BK01 commented on #97
New API console TEST migration scheduled

[2018-03-27 18:21] BK01 commented on #97
Testing in cat.data complete. Fix verified. Will schedule PROD for next week.

[2018-03-27 18:27] BK01 commented on #96
Repeated UAT today with new API console (3.12.1) in cat.data using POST and received an error.

Response Header:
access-control-allow-origin: https://cat.data.gov.bc.ca
 cache-control: no-cache, no-store, max-age=0, must-revalidate
 content-type: text/plain; charset=UTF-8
 expires: 0
 pragma: no-cache

[2018-03-27 18:30] BK01 commented on #68
Repeated UAT today. Inconsistent results found. In the first test, results showed no difference in number of records by industry (2000+). TypeError: Failed to fetch for second test.

[2018-03-27 21:15] BK01 commented on #68
Tests all successful at 2:15pm 2018-03-27

[2018-05-29 16:15] BK01 opened #98 "New API Registration - API Submission Form"
A web application for use by API owners to submit information about an API to add to the API Gateway (integrated with BCDC)

The API Submission Form will be a stand-alone single page application (secured by Siteminder) with an HTML form that provides fields for each piece of required data by the Province.

*Consult BCDC to confirm list of required fields to create a metadata record.

All form fiel

[2018-05-29 16:36] BK01 opened #99 "New API Registration - REST API"
The REST API is for new API submissions (consisting of just one endpoint) to which the online form
information will be posted. The API will be secured by Siteminder. The endpoint will forward the submission to a list of email
addresses (of gateway administrator personnel), and it will create a draft metadata record for
the API if one doesn’t already exist. Also, add the API metadata record to the

[2018-05-29 16:37] BK01 opened #100 "New API Registration - REST API - Draft metadata"
The REST API will create a draft metadata record for the client’s API if it does not already exist

The new workflow will be written to allow for usage by other web applications in the future.

[2018-05-29 16:38] BK01 opened #101 "New API Registration - UI"
Add a new link or button to BC Data Catalogue UI to launch the API Submission Form.

[2018-05-29 16:38] BK01 opened #102 "New API Registration - UI"
Add a new link or button to BC Data Catalogue UI to launch the API Submission Form.

[2018-05-29 16:39] #101 closed, assigned to banders

[2018-05-29 17:36] #100 closed, assigned to nobody

[2018-05-31 17:53] banders commented on #98
@BK01 @ll911 There are a lot of form fields listed above.  Most of them (those in item 9) correspond exactly to form fields already existing in the BCDC "Create Dataset" form.  Can you confirm that we want to duplicate nearly all of these in the New API Registration form?  Is "Keywords" the only one that we can assign a default.

[2018-05-31 23:44] BK01 opened #103 "The most epic test"
test

[2018-06-26 22:06] BK01 commented on #98
@banders
Proposed workflow:
1. IDIR User logs into BCDC and clicks button
2. User fill out submission form
3. API creates a DRAFT metadata record under DataBC sub-org using account provided, and placed in API Metadata Group
4. API emails details to DataBC Gateway admins
------- Is it possible to also send email to DataBC Catalogue inbox to say a new metadata record is in DRAFT. Catalogue staff wil

[2018-06-26 22:29] banders commented on #98
@BK01, @ll911

In step 1: Previously we were planning that the ARGG app would be independent from BCDC (although there would be a link to it from BCDC).  Authentication was to be done through OpenID connect, not through BCDC.  Are you proposing that we change our approach to authentication?

In step 3: You describe creating the new record "using the account provided".  Which account are you referr

[2018-06-26 22:33] ll911 commented on #98
1, we are not change argg authentication method, just trying to matched the bcdc requirement, can the 'add/register api' button only appear when user is logged in bcdc, this can be a phased approach.
3, the one you are using

[2018-06-26 22:37] banders commented on #98
@ll911 @BK01

Thanks for the clarification.  The only detail here that I'm unsure about is in step 4 the catalogue staff need to know the IDIR account of the user that registered the API.  Will ARGG be able to determine the IDIR account of the user so that it can send this info in the email?

[2018-09-21 16:28] BK01 opened #104 "Streamline API access requests"
For registered developers provide a more streamlined approach to requesting access to an API.

The current process involves writing an email to the account listed in the metadata record. Can this be improved? Perhaps a request access link / button in the API console?

[2018-11-27 21:25] #103 closed, assigned to nobody

[2018-11-27 21:29] #54 closed, assigned to nobody

[2018-11-27 21:34] #38 closed

[2018-11-27 21:34] BK01 commented on #38
Analytics no longer offered within API Gateway.

[2018-11-27 21:35] #50 closed

[2018-11-28 22:37] BK01 commented on #104
duplicate of issue [gwa-39](https://github.com/bcgov/gwa/issues/39)

[2018-11-28 22:37] #104 closed, assigned to nobody

[2020-04-17 19:32] repo-mountie[bot] opened #106 "Add missing topics"
# TL;DR

Topics greatly improve the discoverability of repos; please add the short code from the table below to the topics of your repo so that ministries can use GitHub's search to find out what repos belong to them and other visitors can find useful content (and reuse it!).

### Why Topic

In short order we'll add our 800th repo. This large number clearly demonstrates the success of using GitHub

[2020-12-14 21:58] repo-mountie[bot] opened #107 "Add project lifecycle badge"
## No Project Lifecycle Badge found in your readme!
Hello! I scanned your readme and could not find a project lifecycle badge. A project lifecycle badge will provide contributors to your project as well as other stakeholders (platform services, executive) insight into the lifecycle of your repository.
## What is a Project Lifecycle Badge?
It is a simple image that neatly describes your project's s

[2021-05-11 23:22] repo-mountie[bot] opened #108 "It's Been a While Since This Repository has Been Updated"
This issue is a kind reminder that your repository has been inactive for 284.26 days. Some repositories are maintained in accordance with business requirements that infrequently change thus appearing inactive, and some repositories are inactive because they are unmaintained.

To help differentiate products that are unmaintained from products that do not require frequent maintenance, repomountie wi

[2021-05-12 14:14] repo-mountie[bot] opened #109 "It's Been a While Since This Repository has Been Updated"
This issue is a kind reminder that your repository has been inactive for 285 days. Some repositories are maintained in accordance with business requirements that infrequently change thus appearing inactive, and some repositories are inactive because they are unmaintained.

To help differentiate products that are unmaintained from products that do not require frequent maintenance, repomountie will

[2021-05-13 14:16] repo-mountie[bot] opened #110 "It's Been a While Since This Repository has Been Updated"
This issue is a kind reminder that your repository has been inactive for 286 days. Some repositories are maintained in accordance with business requirements that infrequently change thus appearing inactive, and some repositories are inactive because they are unmaintained.

To help differentiate products that are unmaintained from products that do not require frequent maintenance, repomountie will

[2021-05-14 14:17] repo-mountie[bot] opened #111 "It's Been a While Since This Repository has Been Updated"
This issue is a kind reminder that your repository has been inactive for 287 days. Some repositories are maintained in accordance with business requirements that infrequently change thus appearing inactive, and some repositories are inactive because they are unmaintained.

To help differentiate products that are unmaintained from products that do not require frequent maintenance, repomountie will